[2020-08-19 22:22] jmgasper opened #1 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2020-08-19 22:22] jmgasper opened #2 "[$250] Implement login flow"
As discussed via email:

### Login flow:

Step 1:  Get the activation URL:

`curl --request POST \
  --url 'https://topcoder-dev.auth0.com/oauth/device/code' \
  --header 'content-type: application/x-www-form-urlencoded' \
  --data 'client_id=XDw5NTMOru5D7XOu77kAafblpnKjl4oQ' \
  --data scope='openid profile offline_access' \
  --data audience='https://api.topcoder.com/'`

Step 2:  User visits the

[2020-08-19 22:22] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30137851 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-19 22:22] jmgasper commented on #2
Contest https://www.topcoder.com/challenges/30137851 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-19 22:25] jmgasper opened #3 "[$75] Review item cleanup"
### Item 1

Sorting by state doesn’t seem to be working (https://drive.google.com/file/d/1F-mgIgx7SUQp1AoAZT5thnI-7s3k27Ac/view?usp=sharing).

### Item 2

Scrolling/Pagination doesn’t work on the dashboard widget (probably because the full widget is not visible).

### Item 3

The API domain should be configurable from a single place so we can switch between Topcoder dev and prod endpoints (mention

[2020-08-19 22:25] jmgasper commented on #3
Contest https://www.topcoder.com/challenges/30137852 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-19 22:25] jmgasper commented on #3
Contest https://www.topcoder.com/challenges/30137852 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-20 23:11] jmgasper commented on #3
@afrisalyp - Can you add how to switch the API path to the README please?

[2020-08-20 23:11] #3 closed

[2020-08-20 23:12] jmgasper commented on #3
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137852<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-20 23:23] afrisalyp commented on #3
@jmgasper

Sure.

[2020-08-21 01:49] afrisalyp commented on #2
[code]

@jmgasper

I got a CORS error while accessing the API from browser.
Since we call the URL directly from browser, it seems we need to configure the auth0 to allow CORS request.

Can you please take a look at that?

[2020-08-21 03:49] jmgasper commented on #2
@afrisalyp - I've sent this on to Topcoder to take a look at, thanks.

[2020-08-23 23:16] jmgasper commented on #2
@afrisalyp - Thanks.  I've asked Topcoder to add that one, and the one for my own published version as well, for testing.

[2020-08-24 00:04] afrisalyp commented on #2
@jmgasper

Thanks, let me know once it's ready.

[2020-08-24 21:04] jmgasper commented on #2
@afrisalyp - Please try again now, thanks!

[2020-08-25 01:17] afrisalyp commented on #2
@jmgasper

https://drive.google.com/file/d/1X5HpBSg4_IiTzqXEAIf9GmQlKqWLK88Q/view?usp=sharing

The login flow looks like this.
Let me know if anything needs to be improved

[2020-08-25 07:18] #2 closed

[2020-08-25 07:18] jmgasper commented on #2
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30137851<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-27 12:31] jmgasper opened #6 "[$200] Wire in widget for looker reports"
@afrisalyp - We'd like to wire in a widget for looker reports, if possible.  If we can select the project to use when adding the widget, that would be ideal, but I'm open to suggestions if something else makes sense.

### API call

This API call outlines the report that we can use to test.  It will only work with username `lazybaer`, password `appirio123`, in dev:

https://api.topcoder-dev.com/v5/

[2020-08-27 12:31] jmgasper commented on #6
Contest https://www.topcoder.com/challenges/30138818 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-27 12:31] jmgasper commented on #6
Contest https://www.topcoder.com/challenges/30138818 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-27 22:29] afrisalyp commented on #6
@jmgasper

Let me investigate the possibility.

[2020-08-27 22:39] afrisalyp commented on #6
@jmgasper

![Screenshot from 2020-08-28 05-36-31](https://user-images.githubusercontent.com/8887344/91501716-78850500-e8f0-11ea-9deb-df59161257b1.png)

What do we need to do to be able to see the data?

[2020-08-27 22:40] jmgasper commented on #6
@afrisalyp - Go into a specific project and *then* select the `Reports` tab.  The root level report isn't working in dev.

[2020-08-27 22:43] jmgasper commented on #6
Something like:  https://connect.topcoder-dev.com/projects/6640/reports

![Screen Shot 2020-08-28 at 08 42 34](https://user-images.githubusercontent.com/21790/91502033-6d3ed300-e90a-11ea-97de-0ec3dc3afe55.png)

[2020-08-27 22:43] jmgasper commented on #6
The actual flow should work - just not sure if the reports will render correctly or not, but we can at least see what happens...

[2020-08-27 22:46] afrisalyp commented on #6
Okay, I also got the screen. thanks

[2020-08-27 22:48] afrisalyp commented on #6
Just tried to fetch this https://api.topcoder-dev.com/v5/projects/6640/reports/embed?reportName=summary

I got an URL. But after opening the URL, it leads me to login screen.

![Screenshot from 2020-08-28 05-46-46](https://user-images.githubusercontent.com/8887344/91502379-1b8a4e80-e8f2-11ea-87c7-d87b9b9f8f3b.png)

[2020-08-27 23:09] jmgasper commented on #6
@afrisalyp - Are you sure that the generated URL hasn't expired?  I see that SSO error if I use an old link, but I managed to get a newly-generated one to work.

[2020-08-27 23:09] jmgasper commented on #6
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-27 23:31] afrisalyp commented on #6
@jmgasper

Yes, it was a fresh link.
I've tried again with a new topcoder bearer token, it's work now. Thanks

[2020-08-28 04:54] jmgasper opened #7 "[$60] Document CI/CD setup"
@afrisalyp - One thing we'd like to do is get this extension wired into CI/CD, similar to what we do here:

https://github.com/topcoder-platform/ide-ext-vscode/blob/develop/.github/workflows/main.yml

Can you take a look and see what we need please?  I should have keys for deploy available soon.

We'll use the `develop` branch for pushing the dev version of the plugin, and `master` will be prod.

[2020-08-28 04:55] jmgasper commented on #7
Contest https://www.topcoder.com/challenges/30139152 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-28 08:27] afrisalyp commented on #7
@jmgasper

If we refer to the tutorial, it uses the `Azure DevOps pipeline` to handle CI/CD. But if we would like to build it similar to https://github.com/topcoder-platform/ide-ext-vscode, it uses `Github Action`. Which approach that we would use?

I've read the tutorial and it seems if we use the Azure DevOps pipeline, we need an Azure DevOps account that's connected with the marketplace where w

[2020-08-28 10:03] jmgasper commented on #7
@afrisalyp - We'll use the Github action.  I just wasn't sure if those links would be helpful in figuring out the Github piece.

[2020-08-28 11:58] afrisalyp commented on #7
@jmgasper

We'll use `tfx-cli` to publish/update our extension to the marketplace via Github Action CI/CD.

To make able to publish/update an extension package via tfx-cli, all we need are publisher and personal access token (PAT).

This tutorial has detailed steps to obtain the token

https://docs.microsoft.com/en-us/azure/devops/extend/publish/command-line?view=azure-devops#acquire-a-pat

[2020-08-28 23:43] jmgasper commented on #7
Ok, that should work, thanks.

[2020-08-29 02:11] afrisalyp commented on #6
@jmgasper

The feature will look like this. We use widget configuration to select the project.
Is it acceptable?

https://drive.google.com/file/d/1LNcr_HHNAoRZ_tnGxPwZ2X_ZgU_Eq7EW/view?usp=sharing

[2020-08-30 01:23] jmgasper commented on #7
Contest https://www.topcoder.com/challenges/30139152 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-30 01:36] jmgasper opened #9 "[$100] Handle refresh token in widget"
@afrisalyp - Can we handle the `refreshToken` in the extension?  If the existing token has expired, we should be able to use the refreshToken to request a new one, so we don't have to force the user to log in all the time.

[2020-08-30 01:37] jmgasper commented on #9
Contest https://www.topcoder.com/challenges/30139589 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-30 01:37] jmgasper commented on #9
Contest https://www.topcoder.com/challenges/30139589 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-30 01:38] jmgasper commented on #6
@afrisalyp - Looks great, thanks!

[2020-08-30 01:38] #6 closed

[2020-08-30 01:38] jmgasper commented on #6
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30138818<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-08-30 07:59] afrisalyp commented on #9
@jmgasper

Getting the token via `https://topcoder-dev.auth0.com/oauth/token` has no `refresh_token` result param.
It seems we need to do some configuration on `auth0`.

Can you please take a look at that?

[2020-08-30 08:22] jmgasper commented on #9
Thanks.  I sent an email to TC to see if we can get it figured out

[2020-08-31 15:40] cwdcwd commented on #9
@afrisalyp is the `refresh_token` scope being requested at the start of the device code flow?

[2020-08-31 20:30] jmgasper commented on #9
From @cwdcwd :

[code]

[2020-09-01 00:06] afrisalyp commented on #9
@cwdcwd @jmgasper

I've tried to insert the `refresh_token` scope, but still, I don't get the refresh token data.

https://drive.google.com/file/d/1fU5yY8WuPSpMpc1LAHpzDunWDO7MxV6l/view?usp=sharing

[2020-09-01 00:29] jmgasper opened #10 "[$25] Update config to come from environment variables"
@afrisalyp - In the `config.js` file, we are defining constants for a lot of things in the extension.  Those values need to come from the environmental variables, if they're set.  That way we can have different configs in CI/CD to target different setups, without having to change the code.

https://github.com/topcoder-platform/tcx-azure-devops-ext/blob/develop/src/config.js#L1

[2020-09-01 00:30] jmgasper commented on #10
Contest https://www.topcoder.com/challenges/30140012 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-01 00:30] jmgasper commented on #10
Contest https://www.topcoder.com/challenges/30140012 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-01 04:14] #10 closed

[2020-09-01 04:14] jmgasper commented on #10
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140012<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-02 06:00] jmgasper commented on #9
@afrisalyp - Please try again - we fixed some stuff with the Auth0 setup.

This seems to work now:

[code]

[2020-09-02 06:12] afrisalyp commented on #9
@jmgasper

Thanks.

For getting a refreshed token, we need to input `client_secret` param.
https://auth0.com/docs/quickstart/native/device/01-login#example-refresh-token-post-to-token-url

Can you please give me the client secret for client id `XDw5NTMOru5D7XOu77kAafblpnKjl4oQ`?

[2020-09-02 06:16] afrisalyp commented on #9
@jmgasper

Ignore it. I can get a new token without the param. Thanks

[2020-09-02 22:24] jmgasper commented on #9
@afrisalyp - Thanks for that.  I've deployed this and am testing it.

[2020-09-03 05:50] jmgasper commented on #9
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30139589<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-07 02:45] jmgasper commented on #7
@afrisalyp - Can you create the yml file please?  Once I have that, I'll get this closed out, thanks.

[2020-09-07 03:18] afrisalyp commented on #7
Ok sure.

[2020-09-07 04:35] jmgasper opened #13 "[$50] Handle report widget timeout"
@afrisalyp -

The URL for the report widget will timeout after awhile.  We need to be able to refresh that URL, used in the widget, when the old URL expires.

![Screen_Shot_2020-09-07_at_14_34_38](https://user-images.githubusercontent.com/21790/92348742-4dcc5500-f117-11ea-96e3-5113de41fdf7.png)

[2020-09-07 04:35] jmgasper commented on #13
Contest https://www.topcoder.com/challenges/30140741 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-07 04:54] jmgasper commented on #13
Contest https://www.topcoder.com/challenges/30140741 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-07 04:59] jmgasper opened #14 "Challenge - Sync feature"
### Overview
We would like to be able to easily sync repos from Azure DevOps to Github  and from Github  *back* to Azure Devops.

We currently do this with CI/CD pipelines, but we would like to make the setup of this an automated feature in the Azure Devops Extension.

### Flow:

* Add a menu action like “Enable Topcoder-X code sync”
* Oauth to github for repo access, and selection of repo and bra

[2020-09-07 05:15] jmgasper opened #16 "[$100] Add custom field for challenge ID to work items"
One thing we'd like the extension to handle is the addition of a custom field to work items to associate a work item with a specific Topcoder challenge.  The `challenge ID` field would contain the GUID of the challenge that encompasses the work item, and will allow us to do things with grouping and display later on down the road.

### Links

* https://docs.microsoft.com/en-us/azure/devops/organiza

[2020-09-07 05:35] jmgasper opened #17 "[$650] "Send work item to Topcoder" menu action"
### Overview

We want to be able to send a Work Item to Topcoder via a menu action.  Note that the menu action already exists - we'll just add the implementation to it in this challenge.

This flow will take a work item and will create a new Github issue in a configured repository.  If no repository is setup, we'll ask the user to OAuth through Github  to get a token that we can use with the Githu

[2020-09-07 09:12] afrisalyp commented on #13
@jmgasper

The problem is not related to the `looker` URL.

But when we get the url with this API, we get 403 forbidden.
`https://api.topcoder-dev.com/v5/projects/1234/reports/embed?reportName=summary`

I've investigated the token, actually, the token is not expired yet.
It can be used to fetch projects and challenges data.

Can you please take a look to see if anything wrong in the API?

[2020-09-07 10:35] #7 closed

[2020-09-07 10:36] jmgasper commented on #7
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30139152<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-14 05:37] jmgasper opened #18 "[$30] New error when accessing challenges"
@afrisalyp - I'm seeing this when I attempt to load the challenges in the `Topcoder X` board.  This is new, so I'm wondering if maybe there's some bad data coming down from the challenge API?

![Screen Shot 2020-09-14 at 15 36 36](https://user-images.githubusercontent.com/21790/93047594-34d81c80-f6a0-11ea-976e-86585189b476.png)

[2020-09-14 05:37] jmgasper commented on #18
Contest https://www.topcoder.com/challenges/30141548 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-14 05:37] jmgasper commented on #18
Contest https://www.topcoder.com/challenges/30141548 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-14 08:35] afrisalyp commented on #18
@jmgasper

I found a record that has no proper data.

[code]

I put a patch to handle if some data is missed

[2020-09-14 10:46] #18 closed

[2020-09-14 10:46] jmgasper commented on #18
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141548<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-15 22:09] jmgasper commented on #13
@afrisalyp - The only clarification I've gotten so far is:

`vikas said to use this one https://api.topcoder-dev.com/v5/projects/6640/reports/embed?reportName=summary`

Can you test that one to see if works please?

[2020-09-16 10:54] afrisalyp commented on #13
@jmgasper

We've already used the API URL.
Let see if it's fixed.

[2020-09-17 05:20] #13 closed

[2020-09-17 05:21] jmgasper commented on #13
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30140741<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-19 05:06] jmgasper commented on #16
Contest https://www.topcoder.com/challenges/30142488 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-19 05:06] jmgasper commented on #16
@afrisalyp - Assigned to you.

[2020-09-19 05:06] jmgasper commented on #16
Contest https://www.topcoder.com/challenges/30142488 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-20 01:38] jmgasper commented on #17
Contest https://www.topcoder.com/challenges/30142571 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-20 01:38] jmgasper commented on #17
@afrisalyp - Do you think this one's doable?  $650 OK?

[2020-09-20 01:40] jmgasper commented on #17
Contest https://www.topcoder.com/challenges/30142571 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-20 01:42] jmgasper opened #21 "[$30] Increase revision number on publish"
@afrisalyp - One minor issue with the CI setup.  It seems that the CI/CD setup will attempt to increase the version number, which is good, but it only works once, and then I have to go in and manually update it.  Is there any way to automate this as part of the build?

[code]

[2020-09-20 01:42] jmgasper commented on #21
Contest https://www.topcoder.com/challenges/30142572 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-20 01:42] jmgasper commented on #21
Contest https://www.topcoder.com/challenges/30142572 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-20 01:53] afrisalyp commented on #17
@jmgasper

Yes. It's possible if user manually input Github token as you mentioned in the forum https://apps.topcoder.com/forums/?module=Thread&threadID=961949&start=0.

Is that the expected requirement?

And yes. the prize is okay.

[2020-09-20 01:58] jmgasper commented on #17
@afrisalyp - Yep, for now we'll just use the manually input Github token.

[2020-09-20 14:06] afrisalyp commented on #17
@jmgasper

Do we will make the action to copy attachments from Azure DevOps to Github, or we just put the link from Azure DevOps into the Github issue description under `### Attachments`?

Thanks.

[2020-09-20 23:56] jmgasper commented on #17
@afrisalyp - Will just pulling the link work?  If a user is logged in in Github but not Azure, will they be able to see it?  If so, just using the link is fine.

[2020-09-21 00:15] afrisalyp commented on #17
@jmgasper

No. It doesn't work if the user doesn't login to Azure.

Btw, we have trouble with uploading attachment to Github.
It seems uploading attachments is not supported on the Github API.
https://stackoverflow.com/questions/34328546/attach-file-to-issue-in-github-via-api
https://stackoverflow.com/questions/28703544/create-an-issue-with-image-via-github-api

I've tried to use `Contents` https:

[2020-09-21 00:49] jmgasper commented on #17
@afrisalyp - Ok, we can just stick with links for the time being.

[2020-09-21 03:16] afrisalyp commented on #17
@jmgasper

Am I expected to update the documentation to logs steps to use the feature?

[2020-09-21 03:34] afrisalyp commented on #17
Here is verification video:

https://drive.google.com/file/d/1V4GPmjtsXVoTFV-NAjxWQRleO1iAFopg/view?usp=sharing

You can generate Github Personal Access Token from Settings -> Developer Settings -> Personal Access Token.

[2020-09-21 08:05] #16 closed

[2020-09-21 08:05] jmgasper commented on #16
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142488<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-21 08:08] #17 closed

[2020-09-21 08:08] jmgasper commented on #17
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142571<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-21 10:46] jmgasper commented on #21
@afrisalyp - Merged in the changes, but still saw the issue:  https://github.com/topcoder-platform/tcx-azure-devops-ext/runs/1143499776?check_suite_focus=true

[2020-09-21 10:51] afrisalyp commented on #21
The process will only increase the version by one. So please manually match or increase the version with the version in the marketplace for the first time.

[2020-09-22 00:39] #21 closed

[2020-09-22 00:40] jmgasper commented on #21
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142572<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-22 00:40] jmgasper commented on #14
@afrisalyp - Any thoughts on this one?  Is this something we can do within the confines of the current extension?

[2020-09-22 00:40] jmgasper commented on #14
Contest https://www.topcoder.com/challenges/30142947 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-22 00:40] jmgasper commented on #14
Contest https://www.topcoder.com/challenges/30142947 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-22 11:22] afrisalyp commented on #14
Able to set up manually with YAML config. But still find a way to make the setup automatically.

I'm not sure that we can add azure pipeline on Azure DevOps and GitHub via rest API. Still investigating, let see if it's possible.

[2020-09-22 23:01] jmgasper commented on #14
@afrisalyp - Ok, thanks for the update.  Please let me know if there's anything I can help with, or even if we can do things partially.

[2020-09-24 23:34] jmgasper commented on #14
@afrisalyp - Any further update here?

[2020-09-25 02:15] jmgasper opened #24 "[$350] Send to Topcoder menu option"
@afrisalyp - We built the current `Send to Topcoder` option here:  https://github.com/topcoder-platform/tcx-azure-devops-ext/issues/17

What we're going to do now is change things around a bit for new functionality:

### Swap menu names

We are going to rename the current functionality to create a Github ticket as a new `Send to Github` menu item

### New functionality for `Send to Topcoder`

The

[2020-09-25 02:15] jmgasper commented on #24
Contest https://www.topcoder.com/challenges/30143565 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 02:15] jmgasper commented on #24
Contest https://www.topcoder.com/challenges/30143565 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 05:55] afrisalyp commented on #24
@jmgasper

How should we deal with the prize?
Can we just put it $0?

[2020-09-25 05:56] jmgasper commented on #24
@afrisalyp - Yeah, for now.  I have an open question to Topcoder about how to handle that, thanks.

[2020-09-25 06:03] afrisalyp commented on #14
@jmgasper

Still, no luck on automating pipeline creation.
Able to automatically insert the YAML file into the repo, but still need manually register/create the pipeline.

[2020-09-25 07:56] afrisalyp commented on #24
Verification video

https://drive.google.com/file/d/1QhYu5obvKFGGL-vYlNpandS8_dlK72hC/view?usp=sharing

[2020-09-25 22:12] #24 closed

[2020-09-25 22:12] jmgasper commented on #24
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143565<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 22:13] jmgasper opened #26 "[$175] Additions to `Send to Topcoder` menu"
@afrisalyp - New details from Topcoder:

so I think, for the initial phase, we're going to put it into a draft challenge and let the CP or CA then review, refine, and set prizes. We can think how to get more TCX-like automatic as we go.

### New feature:

Would it be possible to build a screen before sending the data to the API before that that auto fills w/ the task details to be sent over first?

[2020-09-25 22:13] jmgasper commented on #26
Contest https://www.topcoder.com/challenges/30143671 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 22:13] jmgasper commented on #26
Contest https://www.topcoder.com/challenges/30143671 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-25 22:22] jmgasper commented on #14
@afrisalyp - From Topcoder:  for pipelines, we can't do this? https://docs.microsoft.com/en-us/rest/api/azure/devops/pipelines/pipelines/create?view=azure-devops-rest-6.0

[2020-09-26 08:50] afrisalyp commented on #14
@jmgasper

Haven't tried the API before since I can't find any example or tutorial how to use it. It seems very new API.

Let me explore more about that.

https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions?view=azure-devops-rest-6.1

I've tried this api instead. It successfully creates an azure pipeline, but it create custom pipeline and it doesn't connect with the yaml file.

[2020-09-27 11:43] afrisalyp commented on #26
@jmgasper

It seems not possible to show a view from the menu action. The views need to be inside our extension iframe (e.g. Widget, hub, or work item page).

Alternatively, we can consider to put the feature inside a work item page. Please refer to this link

https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-workitem-extension?view=azure-devops#add-a-page

[2020-09-28 01:54] afrisalyp commented on #14
@jmgasper

Now I'm able to create YAML pipeline with the new API.

Another problem is, I can't find a way to put variables into the pipeline. We need it to store our Github token that is needed to run the pipeline.

I've posted a question on the visual studio developer community to see if there's a way to do that.

[2020-09-28 01:55] jmgasper commented on #14
@afrisalyp - Great, thanks for the update.  I've asked @cwdcwd if he has any ideas as well.

[2020-09-28 02:21] jmgasper commented on #26
@afrisalyp - Thanks.  I'll ask Topcoder what their preference is.

[2020-09-28 02:57] jmgasper commented on #26
@afrisalyp - Feedback from Topcoder:

That seems like a good option!
Let’s try that and then do a drop for the client and we can get some feedback

If I need to adjust the payment higher, let me know, thanks.

[2020-09-28 02:57] jmgasper commented on #26
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-09-28 05:05] afrisalyp commented on #26
@jmgasper

A Pull request sent for this new feature.
It will look like:

![Screenshot from 2020-09-28 12-03-52](https://user-images.githubusercontent.com/8887344/94392591-e7b97780-0182-11eb-9f99-5b4134183006.png)

[2020-09-28 05:48] jmgasper commented on #26
@afrisalyp - Thanks, this looks good.  A couple things here:

1.  `Topcoder Challenge Id` will be set by the system, let's not have that as editable
2.  If an error occurs, can we show a popup or something to alert the user?  I got a 403 from the V5 API on my first test, but I got no indication in the UI
3.  We don't have to open up the challenge on the Topcoder site
4.  The challenge ID we receiv

[2020-09-28 07:26] afrisalyp commented on #26
@jmgasper

4. Actually, the challenge id we receive from Topcoder will populate the field after the page is refreshed.
I can't find a way to automatically set the field since it's in different iframe.

[2020-09-28 21:23] #26 closed

[2020-09-28 21:24] jmgasper commented on #26
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30143671<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-02 19:16] cwdcwd opened #29 "[$60] Github Actions for prod release"
@dhruvit-r - This ones done and working for dev, but we need to update the actions flow in main.yml to:

* Use a different personal access token for dev vs. prod
* Build different branchs (`master` for prod and `develop` for dev)
* Use a different vss-extension.json for prod vs. dev

[2020-10-02 21:26] cwdcwd opened #30 "Topcoder X Tab cut off without scroll"
can't scroll here

![image](https://user-images.githubusercontent.com/1504607/94971184-57599a80-04d4-11eb-9523-65855d359b1a.png)

[2020-10-02 21:27] cwdcwd opened #31 "[$50] Add project selection to topcoder x screen"
@afrisalyp :
request: Add in the projects selection on the topcoder x screen so that users can pick which project to send the work from.

We'll default this to the project selected in the global config (see below)

![Screen_Shot_2020-10-06_at_14_16_21](https://user-images.githubusercontent.com/21790/95154872-8dea2a80-07de-11eb-9f44-dac1343e5eb3.png)

[2020-10-02 21:33] cwdcwd opened #32 "send to topcoder menu item"
The send to topcoder menu item works great (the default project in the config used here makes sense I think).
However, when viewing the challenge on Topcoder, the challenge page throws an error.
![image](https://user-images.githubusercontent.com/1504607/94971479-1c0b9b80-04d5-11eb-960d-78e62aa5e071.png)
looking at the console it looks like there might be an issue w/ review types?

![image](https:/

[2020-10-02 22:00] cwdcwd commented on #14
If I'm reading [this](https://stackoverflow.com/questions/34343084/start-a-build-and-passing-variables-through-azure-devops-rest-api) right I think you can pass variables in ?

[2020-10-02 22:00] cwdcwd commented on #14
I think with [this](https://docs.microsoft.com/en-us/rest/api/azure/devops/build/definitions/create?view=azure-devops-rest-6.0#builddefinitionvariable) ?

[2020-10-02 22:13] cwdcwd opened #33 "[$15] Report widget doesn't set project Id"
@afrisalyp - Can you double check this please?  It should be using the project ID configured on the report widget, thanks!

reporting widget on the dashboard seems to only call to this url:
`https://api.topcoder.com/v5/projects/1234/reports/embed?reportName=summary`

[2020-10-03 06:31] jmgasper commented on #33
Contest https://www.topcoder.com/challenges/30144411 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-03 06:32] jmgasper commented on #30
Contest https://www.topcoder.com/challenges/30144412 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-03 06:32] jmgasper commented on #30
Contest https://www.topcoder.com/challenges/30144412 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-03 06:33] jmgasper commented on #31
@cwdcwd  - We have a global config for this.  Should we use that to default?  Is there a use case where a user would be sending tickets from the same repo on Azure to different TC projects?

![Screen Shot 2020-10-03 at 16 33 13](https://user-images.githubusercontent.com/21790/94985050-335e8d80-0596-11eb-9bf4-1f359e96c3d6.png)

[2020-10-03 06:37] jmgasper commented on #32
@cwdcwd - I'm almost positive this is a problem with the community app in dev.  I see this all the time.

Even if it *isn't* a problem in the community app, the API shouldn't let us set anything wrong on the record when setting it up 😉

[2020-10-03 06:37] jmgasper commented on #32
What challenge ID is that for?

[2020-10-03 06:38] jmgasper commented on #32
It may just take awhile to work properly.  This one showed up alright:  https://www.topcoder-dev.com/challenges/e561c7e8-10a7-4044-b2ae-62710b795310

[2020-10-05 02:55] jmgasper commented on #33
Contest https://www.topcoder.com/challenges/30144411 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-05 16:44] cwdcwd commented on #31
@jmgasper yes. I think there might be a use case where work items can be distributed to different projects

[2020-10-06 03:17] jmgasper commented on #31
Contest https://www.topcoder.com/challenges/30144595 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 03:17] jmgasper commented on #31
Contest https://www.topcoder.com/challenges/30144595 has been updated - it has been assigned to Ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 03:17] jmgasper commented on #31
Contest https://www.topcoder.com/challenges/30144595 has been updated - afrisalyp has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 03:18] jmgasper commented on #14
@afrisalyp ☝️

[2020-10-06 03:18] #33 closed

[2020-10-06 03:19] jmgasper commented on #33
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30144411<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-06 03:19] jmgasper commented on #30
@afrisalyp - Any update here?

[2020-10-14 14:58] #32 closed

[2020-10-20 22:52] jmgasper opened #35 "Remove HTML formatting in the description of the spec section"
### Current

Currently, the challenge description created when using the Topcoder-X tab on a work item is sent to Topcoder as HTML.

The Topcoder v5 challenge API supports markdown, so we don't need to do that conversion

![Screen_Shot_2020-10-21_at_09_51_40](https://user-images.githubusercontent.com/21790/96652703-2eb21b80-1383-11eb-8859-3ad30aadee18.png)

[2020-10-20 22:54] jmgasper opened #36 "Add a separate "Private Specification" section to the Topcoder X panel"
The Topcoder v5 challenge API supports a private specification field, on challenge creation, that is *only* shown to registered members on a challenge.  We should add a new text field to the `Topcoder X` panel on Work items to support input of that field.  The private specification will be *optional*.

![Screen_Shot_2020-10-21_at_09_55_45](https://user-images.githubusercontent.com/21790/96652904-a

[2020-10-20 22:58] jmgasper opened #37 "Add project selection to Topcoder X tab on Work Items"
On the `Topcoder X` tab on Work Items, we need to add a drop down for the Topcoder project to launch the challenge under.  This won't be editable *after* the challenge is launched.

The contents should come from the project API, using the user's token, so that the drop down only shows the projects the user has access to, similar to what we already do in the plugin setup.

![Screen_Shot_2020-10-21_

[2020-10-20 22:59] #31 closed

[2020-10-20 22:59] jmgasper commented on #31
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-20 23:08] jmgasper opened #38 "Add field for legacy ID and links for viewing the challenge on various Topcoder sites"
Right now, when a challenge is created via the `Topcoder X` tab, the challenge ID is created and added both to the `Topcoder X` field on the Work Item, and in the `Topcoder X` tab, but the challenge is not easily referenced since the IDs are not clickable.

Let's do a couple things here:

#### Legacy ID
A created challenge will eventually get a `legacyID` associated with it, after a minute or two.

[2020-10-20 23:14] jmgasper opened #39 "Test refresh token"
Reported during testing / demoing of the plugin:

I think there was an issue w/ the refresh token getting set as it kept telling them that it couldn't make the API calls (403s). That may have been something to do with the update of the extension while the old token was still in the settings. that's just my guess.

For the challenge, please ensure this is properly tested and handled.  Make sure to

[2020-10-20 23:59] #14 closed

[2020-10-21 00:02] jmgasper commented on #29
@cwdcwd - I have this already done for dev:  https://github.com/topcoder-platform/tcx-azure-devops-ext/actions?query=workflow%3A%22Pubish+extension+on+release%22

We can figure out prod with some tweaks.  The only required env variable is a `PERSONAL_ACCESS_TOKEN` for the publishing user on Azure Marketplace.

[2020-10-24 21:05] jmgasper opened #40 "Context menu usage"
The extension adds context menus but it doesn't work properly in some cases (back log , queries) because
each context menu has different action context. action context use the different format for passing work item ids ("ids" for Queries , "workItemIds" for backlogs).
Now it works properly only for an active work item.

Notes: If we use a context menu then a challenge is created with a projectId c

[2020-10-27 01:36] jmgasper opened #41 "[$1500] Azure / Github code sync"
### Branch
This ticket will target the develop branch

### Requirements

We would like to be able to easily sync repos from Azure DevOps to Github and from Github back to Azure Devops.

We currently do this with CI/CD pipelines, but we would like to make the setup of this an automated feature in the Azure Devops Extension.

### Flow:

* Add a menu action like “Enable Topcoder-X code sync”
* Oauth

[2020-10-27 01:36] jmgasper commented on #41
Contest https://www.topcoder.com/challenges/30147023 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 01:37] jmgasper commented on #41
Contest https://www.topcoder.com/challenges/30147023 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-27 01:38] jmgasper commented on #41
@dhruvit-r - Let's see how we go at this one as a task.  If we don't make much progress in 4 days or so, we'll have to re-evaluate and see if we need to put it back out as a challenge, thanks.

[2020-10-27 01:44] dhruvit-r commented on #41
@jmgasper Got it. That's fair. Thanks.

[2020-10-28 05:25] #30 closed

[2020-10-28 05:27] #35 closed

[2020-10-28 05:29] #37 closed

[2020-10-28 05:29] #39 closed

[2020-10-28 05:29] #38 closed

[2020-10-28 05:30] #36 closed

[2020-10-28 21:14] cwdcwd commented on #29
it only seems to execute on [develop](https://github.com/topcoder-platform/tcx-azure-devops-ext/blob/develop/.github/workflows/main.yml#L6) and will need another var for my token for prod

[2020-10-29 06:14] jmgasper commented on #29
Contest https://www.topcoder.com/challenges/30147604 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-29 06:15] jmgasper commented on #29
Contest https://www.topcoder.com/challenges/30147604 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-29 07:32] dhruvit-r commented on #29
@jmgasper #42 is ready to be merged.

[2020-10-29 07:33] dhruvit-r commented on #29
@jmgasper The secret `PERSONAL_ACCESS_TOKEN_PROD` will be used by the master branch release pipeline.

[2020-10-29 20:58] jmgasper commented on #29
@cwdcwd - We should be good to go here for prod, once that token is set

[2020-10-29 20:58] #29 closed

[2020-10-29 20:58] jmgasper commented on #29
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30147604<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-10-30 22:25] dhruvit-r commented on #41
@jmgasper Github to ADO is implemented in #43.

[2020-10-30 22:42] dhruvit-r commented on #41
@jmgasper The implementation needs a GitHub OAuth App with "Device authorization flow" enabled. #43 is pointing towards my instance. Just FYI, in case you want to change it.

[2020-11-01 00:50] jmgasper commented on #41
@dhruvit-r - This looks good, thanks, and I have validated that code is going from GH to Azure.  What do we need to do to get Azure going back to GH set up in the extension?

[2020-11-01 04:21] dhruvit-r commented on #41
@jmgasper Azure to GH was not implemented in the PR. I'm working on it, but Microsoft's documentation is all over the place and abstractions are almost non-existent so it's a bit difficult to find the right pieces. Apart from that, there's a few other issues for two-way syncing that I'll need to handle and test (such as infinite looping and race conditions). I'll be able to wrap up tomorrow.

[2020-11-02 20:49] dhruvit-r commented on #41
@jmgasper Done in #44.

[2020-11-03 21:59] #41 closed

[2020-11-03 21:59] jmgasper commented on #41
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30147023<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 22:40] jmgasper opened #45 "[$50] Help debug prod CI/CD"
@dhruvit-r - We are working on the prod setup for CI/CD.  We have it configured, but it's failing.  Any thoughts on the weird error flow?

[code]

https://github.com/topcoder-platform/tcx-azure-devops-ext/runs/1344478142?check_suite_focus=true

[2020-11-03 22:40] jmgasper commented on #45
Contest https://www.topcoder.com/challenges/30148642 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 22:40] jmgasper commented on #45
Contest https://www.topcoder.com/challenges/30148642 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-03 23:06] dhruvit-r commented on #45
@jmgasper The prod overrides manifest and local manifest had the same extension ID, so they were pointing to the same extension (the one being used by the `develop` branch). I've set the proper extension ID in the prod overrides file in #46.

[2020-11-04 00:05] dhruvit-r commented on #45
@jmgasper It seems the pipeline failed again. Can you confirm that the ID of the extension published on Prod is `topcoder-devops-ext`, the publisher is `Topcoder` and the token is linked to the same account?

[2020-11-04 00:06] jmgasper commented on #45
@dhruvit-r - Looks like the failure is now an account setup issue (out of scope for this ticket).  I'm asking @cwdcwd to have a look and I'll keep you posted, thanks!

[2020-11-04 01:46] #45 closed

[2020-11-04 01:47] jmgasper commented on #45
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30148642<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 20:55] jmgasper opened #47 "[$20] Branch dropdown"
@dhruvit-r - We've been testing the sync, and ran into a small issue on the branch dropdown, seen in Chrome.

Can we make this work on large list please?

From Topcoder:

is there a limit on this drop down ?

![image (32)](https://user-images.githubusercontent.com/21790/98732324-1a49c780-23f3-11eb-957e-c9b32c448ad8.png)

I enabled access to multiple orgs but it seems to be cutting short at the alp

[2020-11-10 20:55] jmgasper commented on #47
Contest https://www.topcoder.com/challenges/30150075 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 20:55] jmgasper commented on #47
Contest https://www.topcoder.com/challenges/30150075 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 21:30] jmgasper opened #48 "[$400] Multiple branch synchronizations"
@dhruvit-r - Topcoder is asking if we can expand the branch synchronization to be able to sync *multiple* repos.

What I'm thinking we need to do is:

1.  Change the `Branch Synchronization` page to be a list with the multiple to / from branches in a table, along with the ability to add / view / delete individual synchronizations
2.  The add / view page would be the *existing* page that we already

[2020-11-10 21:30] jmgasper commented on #48
Contest https://www.topcoder.com/challenges/30150078 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-10 21:31] jmgasper commented on #48
Contest https://www.topcoder.com/challenges/30150078 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 00:49] jmgasper opened #49 "[$500] Add Gitlab sync"
@dhruvit-r - One other thing we'd like to investigate with the sync is the ability to sync with Gitlab.  I'm *assuming* this will be easier, since we've already got the Azure stuff figured out, and I'm guessing that getting this integrated with Gitlab will be easier, since their CI/CD is a bit more straightforward.  Let me know your thoughts, thanks!

[2020-11-11 00:49] jmgasper commented on #49
Contest https://www.topcoder.com/challenges/30150087 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 00:49] jmgasper commented on #49
Contest https://www.topcoder.com/challenges/30150087 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 04:10] dhruvit-r commented on #47
@jmgasper  I'm not able to reproduce this issue. I've added a `console.log` statement to print out the repositories that are being returned from the server - could you have them check if the repos are shown in the console?

A couple potential issues:

1. We're using the oktokit's [listForAuthenticatedUser](https://octokit.github.io/rest.js/v18#repos-list-for-authenticated-user)  function to fetch

[2020-11-11 04:16] jmgasper commented on #47
@cwdcwd ☝️

[2020-11-11 04:46] jmgasper opened #51 "[$30] Investigate a couple sync issues"
@dhruvit-r - A couple things to look into:

### Issue 1
@cwdcwd has been testing and can't seem to get the sync to get installed for two existing repos (1 Github and 1 Azure).  The Github action gets added, but the Azure one does not, and no errors are displayed.  Is there any reason why that may happen?

### Issue 2

If the two sync repos both have code in them, how does the code get merged when

[2020-11-11 04:46] jmgasper commented on #51
Contest https://www.topcoder.com/challenges/30150151 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 04:49] jmgasper commented on #51
Contest https://www.topcoder.com/challenges/30150151 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 05:04] dhruvit-r commented on #51
@jmgasper
Issue 1 - I don't have a lot to go on here, but If I had to guess I'd say it was a timeout issue (I'm not sure why an error is not shown though). Would it be possible to get a screen recording here (preferably with the network requests tab open)? I'm assuming the "Two-Way Synchronization" option is enabled.
Issue 2 - The GitHub action is installed first, then we wait for it to complete a

[2020-11-11 05:11] jmgasper commented on #51
@dhruvit-r - Looks like issue 1 was just a code sync problem from develop to master.  The master branch was missing the commit to sync from Azure to Github 🤦

[2020-11-11 15:18] cwdcwd opened #52 "[$50] Paging doesn't work on Challenges listing"
when looking at the challenge listings it doesn't seem to check the X-Headers and see how many pages are available from the API. It only pages the initial set of data returned

[2020-11-11 15:22] cwdcwd commented on #51
confirmed. Rebuilt and redeployed. Code sync works great

[2020-11-11 19:13] #51 closed

[2020-11-11 19:13] jmgasper commented on #51
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150151<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 23:18] jmgasper commented on #52
Contest https://www.topcoder.com/challenges/30150650 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-11 23:18] jmgasper commented on #52
Contest https://www.topcoder.com/challenges/30150650 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-13 03:45] codejamtc opened #53 "[$20] Even though I have selected the project "Please select a project." displayed"
![image](https://user-images.githubusercontent.com/42398485/99026280-a34a3580-2590-11eb-86fe-7c3a1efbbee4.png)

![image](https://user-images.githubusercontent.com/42398485/99026295-ad6c3400-2590-11eb-8625-bec769e34737.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Desc

[2020-11-13 03:47] codejamtc opened #54 "Sometimes the challenge is not loading as soon as user created it thorugh the plugin"
![image](https://user-images.githubusercontent.com/42398485/99026463-02a84580-2591-11eb-9e90-8151c984e5ca.png)

[code]

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Description etc)
5. Switch to Topcoder X
6. Select the project, Title, Public and private description and pr

[2020-11-13 03:48] codejamtc commented on #54
[1.zip](https://github.com/topcoder-platform/tcx-azure-devops-ext/files/5534636/1.zip)

[2020-11-13 03:51] codejamtc opened #55 "[$30] Duplicate created when user click on the 'Send to Topcoder' again and again for the same challenge"
![image](https://user-images.githubusercontent.com/42398485/99026687-94b04e00-2591-11eb-919e-9f0469f7b903.png)
![image](https://user-images.githubusercontent.com/42398485/99026700-9a0d9880-2591-11eb-941c-7da960bb725a.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Descr

[2020-11-13 04:07] codejamtc opened #56 "Legacy ID is not retrieved"
![image](https://user-images.githubusercontent.com/42398485/99027697-d215db00-2593-11eb-9427-0a96c2ace8ee.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Description etc)
5. Switch to Topcoder X
6. Select the project, Title, Public and private description and prize
7. C

[2020-11-13 04:13] codejamtc opened #57 "[$30] When we switch to the Topcoder X tab for the already created challenge; some data is missing"
![image](https://user-images.githubusercontent.com/42398485/99027981-9f201700-2594-11eb-94fc-abb56f00b3f9.png)

![image](https://user-images.githubusercontent.com/42398485/99027988-a47d6180-2594-11eb-907b-5daac9becb33.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Desc

[2020-11-13 04:35] codejamtc opened #58 "[$25] 'Private Specification' added from the plugin won't display on the page"
![image](https://user-images.githubusercontent.com/42398485/99028714-8284de80-2596-11eb-8517-8f6af24bbe06.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Description etc)
5. Switch to Topcoder X
6. Select the project, Title, Public and private description and prize
7. C

[2020-11-13 04:46] codejamtc opened #59 "[$25] 'Prize' added from the plugin won't display on the page"
![image](https://user-images.githubusercontent.com/42398485/99029207-ec51b800-2597-11eb-94c7-4a9029e118a4.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Description etc)
5. Switch to Topcoder X
6. Select the project, Title, Public and private description and prize
7. C

[2020-11-13 04:49] codejamtc opened #60 "Tags added from the plugin won't display on the page"
![image](https://user-images.githubusercontent.com/42398485/99029741-43a45800-2599-11eb-8029-6c91db5138bb.png)
![image](https://user-images.githubusercontent.com/42398485/99029768-6171bd00-2599-11eb-8ea5-c3688aed2c45.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Descr

[2020-11-13 04:51] codejamtc opened #61 "Discussions added to the ticket won't display on the challenge details page"
![image](https://user-images.githubusercontent.com/42398485/99030017-0391a500-259a-11eb-94f7-fd282449b25b.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Description etc)
5. Switch to Topcoder X
6. Select the project, Title, Public and private description and prize + Ad

[2020-11-13 04:56] codejamtc opened #62 "[$25] State is not displayed for New and Draft challenges"
![image](https://user-images.githubusercontent.com/42398485/99030272-9fbbac00-259a-11eb-9555-ce690c549c0e.png)
![image](https://user-images.githubusercontent.com/42398485/99030285-a5b18d00-259a-11eb-9d41-9acd010f4c3d.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Go to Topcoder X Hub
3. Authenticate an account and select a Project from the list
4. Go to

[2020-11-13 05:53] codejamtc opened #63 "[$60] Strike, Color and highlight is not displayed properly"
![image](https://user-images.githubusercontent.com/42398485/99033865-df39c680-25a1-11eb-8557-1aaf5e7ce076.png)
![image](https://user-images.githubusercontent.com/42398485/99034001-36d83200-25a2-11eb-88b3-a1eb573bb086.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Descr

[2020-11-13 06:10] codejamtc opened #64 "Done Status filter option is not present"
![image](https://user-images.githubusercontent.com/42398485/99035142-fa5a0580-25a4-11eb-868b-3761368d35aa.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Description with formatting) > Save
5. Now change the status to Done
6. Check the table and click Status filter

 ##

[2020-11-13 07:47] codejamtc opened #65 "[$20] Sort by the title is not working"
![image](https://user-images.githubusercontent.com/42398485/99042241-73ac2500-25b2-11eb-8b2e-81062ff8140d.png)

![image](https://user-images.githubusercontent.com/42398485/99042347-96d6d480-25b2-11eb-9623-55d14fa1095a.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Desc

[2020-11-13 09:30] draco-malfoy opened #66 ""Send to Topcoder" from actions menu is creating new links every time"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Open Board -> Work items.
2. Create new epic with title, description, date and priority > Save
4. Go to "Topcoder X" tab and fill challenging details > Send to Topcoder
5. Go to "Actions" menu and click "Send to Topcoder"

**Actual behavior**
A new link is created or perhaps

[2020-11-13 09:30] draco-malfoy opened #67 ""Send to topcoder" from actions menu is always displaying price money as 0, and also not rendering description properly"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Open Board -> Work items.
2. Create new epic with title, description, date and priority > Save
4. Go to "Topcoder X" tab and fill challenging details > Send to Topcoder
5. Go to "Actions" menu and click "Send to Topcoder"

**Actual behavior**
1. The price menu displayed on th

[2020-11-13 09:34] draco-malfoy opened #68 "[$100] Data in the "Topcoder X" tab is not editable once saved"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Open Board -> Work items.
2. Create new epic with title, description, date and priority > Save
4. Go to "Topcoder X" tab and fill challenging details > Send to Topcoder
5. These details once saved are not editable

**Actual behavior**
The details such as prize, description, t

[2020-11-13 09:38] draco-malfoy opened #69 "Missing field to add prizes for rank 2nd, 3rd or more in "Topcoder X" tab"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Open Board -> Work items.
2. Create new epic with title, description, date and priority > Save
4. Go to "Topcoder X" tab and fill challenging details including the Prize amount

**Actual behavior**
Currently the co-pilot/admin can only add prize money for the 1st prize. There

[2020-11-13 09:44] codejamtc opened #70 "[$40] If we select a different Project and sand send to Topcoder won't create a challenges inside the relevant project"
![image](https://user-images.githubusercontent.com/42398485/99058222-e91ff180-25c2-11eb-824e-9a33972cb5d2.png)
![image](https://user-images.githubusercontent.com/42398485/99058237-ede4a580-25c2-11eb-9e98-9287bf88f974.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Descr

[2020-11-13 09:46] draco-malfoy opened #71 "Start and Target date don't match on Azure and Topcoder"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Open Board -> Work items.
2. Create new epic with title, description, date and priority > Save
4. Go to "Topcoder X" tab and fill challenging details > Send to Topcoder
5. Open the challenge page

**Actual behavior**
The date's set on DevOps platform under planning don't matc

[2020-11-13 09:50] codejamtc opened #72 "[$25] After creating a challenge; the project is not displayed on the Topcoder-X tab"
![image](https://user-images.githubusercontent.com/42398485/99058870-c6420d00-25c3-11eb-8484-73f9fbbab725.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Description with formatting) > Save
5. Click Send to Topcoder
6. Click Back and then open the same Issue ID
7. Switc

[2020-11-13 10:02] codejamtc opened #73 "Delete or change the state (To Do, Doing, Done) from the plugin list won't take effect"
![image](https://user-images.githubusercontent.com/42398485/99059992-5df42b00-25c5-11eb-92a7-8a9afc80c002.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Open Board -> Work items.
3. Open or create a work item (Issue).
4. Fill the details (Description with formatting) > Save
5. Click Send to Topcoder
6. Delete the item from the plugin or change the statu

[2020-11-13 11:13] draco-malfoy opened #74 "[$40] Even if "Two-Way Synchronization" is turned off, commits are synced from Azure to Github"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Connect with Github
2. Disable two way sync and enable branch synchronization
4. Go to "Repo" > "Files"
5. Commit a change by eg. creating a new file

**Actual behavior**
Commits made on Azure devOps are reflected on Github, when two way sync is turned off

**Expected behavio

[2020-11-13 11:28] draco-malfoy opened #75 "[$75] The size of challenge page nav header and content box is not fixed"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Go to "Topcoder X" > "Challenges"

**Actual behavior**
The nav bar and content area's are not fixed and vary according to the max length of Length, Title etc. This makes the UI intrusive.

**Expected behavior**
The nav bar and the content area box can be made to be of fix siz

[2020-11-13 11:32] draco-malfoy opened #76 "[$25] The size of project selection dropdown is very small"
**Steps to reproduce the problem**
Open Azure DevOps, create organization, and add the TCX extension from marketplace
Go to "Topcoder X" > "Account"

**Actual behavior**
The visible area to select project is very small

**Expected behavior**
The visible area to select project can be increased in height, enhancing the UX

**Environment**
- OS: Windows 10
- Device (w/version): Laptop, Windows 10
- B

[2020-11-13 11:45] codejamtc commented on #65
- Deploy the app and create the initial setup
- Go to Topcoder X Hub
- Go to Projects
- Sort by Title

[2020-11-13 11:49] codejamtc opened #77 "[$30] Sorting happens only to currently visible records; not to the whole table"
[3.zip](https://github.com/topcoder-platform/tcx-azure-devops-ext/files/5536577/3.zip)

### Steps to reproduce the problem

- Deploy the app and create the initial setup
- Go to Topcoder X Hub
- Go to Challenges
- Sort by Title by A-Z
- Increase the per page to 50 and check

 ### Actual behavior
- Sorting happens only to current visible records; not to whole table

### Expected behavior
- Should A

[2020-11-13 11:51] codejamtc opened #78 "Start date is displayed in two lines"
![image](https://user-images.githubusercontent.com/42398485/99069566-9a7b5300-25d4-11eb-8c4a-e7df7cc30065.png)

### Steps to reproduce the problem

- Deploy the app and create the initial setup
- Go to Topcoder X Hub
- Go to Challenges
- Check the Start date

 ### Actual behavior
- Start date is displayed in two lines

### Expected behavior
- Should display in a single line

#### Environment
**- O

[2020-11-13 12:08] draco-malfoy opened #79 "[$25] "Send to Github" and "Send to Topcoder" from boards menu doesn't work"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Open Boards -> Boards
2. Create a new issue or use an existing one
4. Click on the 3-dot menu
5. Click on the options "Send to Github" and "Send to Topcoder"

**Actual behavior**
Both "Send to Github" and "Send to Topcoder" have no action

**Expected behavior**
"Send to Githu

[2020-11-13 19:20] swap12875 opened #80 "Table size changes with Sort"
**Steps to reproduce the problem**

1. Deploy the app and create the initial setup
2. Go to Topcoder X Hub
3. Go to Challenges
4. try Sorting the table with different sorting options available by clicking on the sort options.

**Snaps**
[Swap12875 _Issue-1.zip](https://github.com/topcoder-platform/tcx-azure-devops-ext/files/5538892/Swap12875._Issue-1.zip)

**Actual behavior**
The size of the table

[2020-11-14 09:05] draco-malfoy opened #81 "[$20] Unable to Enable Branch Synchronization in Edge"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace
2. Log in to account and select a project in Boards > Topcoder X
2. Go to Boards > Branch Synchronization
4. Select values for Github repo, Github branch, Azure repo, Azure branch, PAT Token
5. Try enabling branch synchronization

**Actual behavior**
Enabling results in an error

[2020-11-14 09:23] draco-malfoy opened #82 "Extension doesn't seem to work in IE"
**Steps to reproduce the problem**
1. Open Azure DevOps, create organization, and add the TCX extension from marketplace

At all the places where the extension is expected to work:

2. Go to Boards > Topcoder X - Extension doesn't load
2. Go to Overview > Dashboards - Widges fails to load
4. Go to Boards > Work items > Create new item > Topcoder X tab doesn't load
5. Go to Boards > Branch synchron

[2020-11-14 09:29] codejamtc opened #83 "[$75] Topcoder X Hub pages are not responsive (Projects, Challenges, Settings)"
![image](https://user-images.githubusercontent.com/42398485/99144207-f8b63d80-2689-11eb-8d47-046b0c17ff6f.png)

### Steps to reproduce the problem

1. Deploy the app and create the initial setup
2. Go to Topcoder X
3. Check the responsiveness of the Projects, Challenges, Settings

 ### Actual behavior
- Topcoder X Hub pages are not responsive (Projects, Challenges, Settings)

### Expected behavior

[2020-11-15 00:46] jmgasper commented on #60
Tags won't sync like this - that's not expected

[2020-11-15 00:46] #60 closed

[2020-11-15 00:47] jmgasper commented on #61
Discussions aren't expected to sync

[2020-11-15 00:47] #61 closed

[2020-11-15 00:47] jmgasper commented on #64
This isn't something we change with the plugin - this is from Azure itself.

[2020-11-15 00:47] #64 closed

[2020-11-15 00:48] jmgasper commented on #66
Duplicates https://github.com/topcoder-platform/tcx-azure-devops-ext/issues/55

[2020-11-15 00:48] #66 closed

[2020-11-15 00:48] jmgasper commented on #67
Duplicates https://github.com/topcoder-platform/tcx-azure-devops-ext/issues/59

[2020-11-15 00:48] #67 closed

[2020-11-15 00:49] jmgasper commented on #71
This isn't something we sync from Azure to TC.  Those are two separate data fields on each platform

[2020-11-15 00:49] #71 closed

[2020-11-15 00:50] jmgasper commented on #73
This is Azure functionality, not our plugin.

[2020-11-15 00:50] #73 closed

[2020-11-15 00:52] jmgasper commented on #80
Videos are tough to follow, and also seems to duplicate https://github.com/topcoder-platform/tcx-azure-devops-ext/issues/75

[2020-11-15 00:52] #80 closed

[2020-11-15 00:52] jmgasper commented on #81
I need more details here - JS console errors, etc...

[2020-11-15 01:11] jmgasper commented on #49
@dhruvit-r - How's this one coming?

[2020-11-15 01:19] dhruvit-r commented on #49
@jmgasper No trouble. I'll be able to complete this, #47 and #48 today.

[2020-11-15 01:43] jmgasper commented on #49
Great, thanks!

[2020-11-15 08:15] draco-malfoy commented on #81
[log.txt](https://github.com/topcoder-platform/tcx-azure-devops-ext/files/5541995/log.txt)

log attached

[2020-11-15 22:59] dhruvit-r commented on #52
@jmgasper Done in #84.

[2020-11-15 23:00] dhruvit-r commented on #49
@jmgasper Done in #84.

[2020-11-15 23:00] dhruvit-r commented on #48
@jmgasper Done in #84.

[2020-11-16 02:42] jmgasper commented on #49
@dhruvit-r - I put in a PAT that didn't have the right credentials, and now I can't seem to test.  I tried the "Reset PAT" option, but that seems to be unimplemented:

![Screen Shot 2020-11-16 at 13 42 21](https://user-images.githubusercontent.com/21790/99207259-9f791600-2811-11eb-908b-8dcf5bb3adce.png)

[2020-11-16 02:46] #48 closed

[2020-11-16 02:46] jmgasper commented on #48
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150078<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-16 02:50] #52 closed

[2020-11-16 02:50] jmgasper commented on #52
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150650<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-16 02:57] dhruvit-r commented on #49
@jmgasper Sorry about that. Fixed in #85.

[2020-11-16 03:22] #49 closed

[2020-11-16 03:22] jmgasper commented on #49
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150087<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:27] #82 closed

[2020-11-18 00:28] jmgasper commented on #47
@cwdcwd ☝️

[2020-11-18 00:28] jmgasper commented on #83
Contest https://www.topcoder.com/challenges/30151803 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:28] jmgasper commented on #83
@dhruvit-r - Can we fix this up a bit?  It doesn't have to be perfect, just hopefully a bit better, thanks.

[2020-11-18 00:28] jmgasper commented on #83
Contest https://www.topcoder.com/challenges/30151803 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:29] jmgasper commented on #81
Contest https://www.topcoder.com/challenges/30151804 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:29] jmgasper commented on #81
Contest https://www.topcoder.com/challenges/30151804 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:29] jmgasper commented on #81
@dhruvit-r - Just something to look at.  If we find an issue, I can adjust payment, thanks.

[2020-11-18 00:30] jmgasper commented on #79
Contest https://www.topcoder.com/challenges/30151805 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:30] jmgasper commented on #79
@dhruvit-r - I don't think we need those menu items anymore, correct?  Can we just remove them?

[2020-11-18 00:30] jmgasper commented on #79
Contest https://www.topcoder.com/challenges/30151805 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:30] #78 closed

[2020-11-18 00:30] jmgasper commented on #77
Contest https://www.topcoder.com/challenges/30151806 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:30] jmgasper commented on #77
Contest https://www.topcoder.com/challenges/30151806 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:31] jmgasper commented on #76
Contest https://www.topcoder.com/challenges/30151807 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:31] jmgasper commented on #76
Contest https://www.topcoder.com/challenges/30151807 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:31] jmgasper commented on #75
Contest https://www.topcoder.com/challenges/30151808 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:31] jmgasper commented on #75
Contest https://www.topcoder.com/challenges/30151808 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:31] jmgasper commented on #74
Contest https://www.topcoder.com/challenges/30151809 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:31] jmgasper commented on #74
Contest https://www.topcoder.com/challenges/30151809 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:32] jmgasper commented on #72
Contest https://www.topcoder.com/challenges/30151810 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:32] jmgasper commented on #72
Contest https://www.topcoder.com/challenges/30151810 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:33] jmgasper commented on #70
@dhruvit-r - I think there's some confusion here.  Let's do two things:

1.  Make sure the project selection on this screen works
2.  Remove the project selection from the configuration screen, as I think it's not used anymore.

![Screen_Shot_2020-11-18_at_11_33_28](https://user-images.githubusercontent.com/21790/99467161-ef7ee680-2991-11eb-826a-b1f570272b77.png)

[2020-11-18 00:34] jmgasper commented on #69
This is alright for now.

[2020-11-18 00:34] #69 closed

[2020-11-18 00:34] jmgasper commented on #68
Contest https://www.topcoder.com/challenges/30151811 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:34] jmgasper commented on #68
Contest https://www.topcoder.com/challenges/30151811 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:34] jmgasper commented on #68
@dhruvit-r - Can we support updates here via PUT on the challenges endpoint with the challenge ID initially created?

[2020-11-18 00:39] jmgasper commented on #65
Contest https://www.topcoder.com/challenges/30151812 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:39] jmgasper commented on #65
Contest https://www.topcoder.com/challenges/30151812 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:39] jmgasper commented on #63
Contest https://www.topcoder.com/challenges/30151813 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:39] jmgasper commented on #63
Contest https://www.topcoder.com/challenges/30151813 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:40] jmgasper commented on #62
Contest https://www.topcoder.com/challenges/30151814 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:40] jmgasper commented on #62
Contest https://www.topcoder.com/challenges/30151814 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:40] jmgasper commented on #62
@dhruvit-r - Can we just hide that column when it doesn't apply please?

[2020-11-18 00:40] jmgasper commented on #59
Contest https://www.topcoder.com/challenges/30151815 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:40] jmgasper commented on #59
Contest https://www.topcoder.com/challenges/30151815 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:41] jmgasper commented on #58
Contest https://www.topcoder.com/challenges/30151816 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:41] jmgasper commented on #58
Contest https://www.topcoder.com/challenges/30151816 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:41] jmgasper commented on #57
Contest https://www.topcoder.com/challenges/30151817 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:42] #56 closed

[2020-11-18 00:42] jmgasper commented on #55
Contest https://www.topcoder.com/challenges/30151818 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:42] jmgasper commented on #55
Contest https://www.topcoder.com/challenges/30151818 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:42] #54 closed

[2020-11-18 00:43] jmgasper commented on #53
@dhruvit-r - I think this is related to the changes requested in https://github.com/topcoder-platform/tcx-azure-devops-ext/issues/70

[2020-11-18 00:43] jmgasper commented on #53
Contest https://www.topcoder.com/challenges/30151819 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:43] jmgasper commented on #53
Contest https://www.topcoder.com/challenges/30151819 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 00:43] jmgasper commented on #70
Contest https://www.topcoder.com/challenges/30151820 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 02:51] jmgasper commented on #57
Contest https://www.topcoder.com/challenges/30151817 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-18 02:52] jmgasper commented on #70
Contest https://www.topcoder.com/challenges/30151820 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-20 14:31] cwdcwd opened #86 "[$60] Make dashboard widgets configurable on size"
![image](https://user-images.githubusercontent.com/1504607/99811455-347e5680-2b13-11eb-8f1d-9d83d5b95a67.png)

[2020-11-24 17:37] dhruvit-r commented on #68
@jmgasper Done in #87.

[2020-11-24 18:55] dhruvit-r commented on #81
@jmgasper It worked fine in newer versions of Edge (which use Chromium engine), but the older version require a polyfill (Done in #87).

[2020-11-24 19:30] dhruvit-r commented on #74
@jmgasper Seems to have been fixed already.

[2020-11-24 19:42] dhruvit-r commented on #58
@jmgasper Is the private specification supposed to appear on the challenge page? I vaguely remember a clarification in one of the challenges mentioning that the private specs don't appear on the challenge page.

[2020-11-24 19:45] dhruvit-r commented on #53
@jmgasper Fixed in #87.

[2020-11-24 19:49] dhruvit-r commented on #55
@jmgasper The button used to be disabled after the network request completed. I've added logic to have it disabled before the network request is made, and then have it enabled again if the network request fails or switch to the edit/discard buttons if it succeeds.

[2020-11-24 19:52] dhruvit-r commented on #57
@jmgasper Not able to reproduce this. I need to know if this intermittent. If not, this has probably been fixed already.

[2020-11-24 20:01] dhruvit-r commented on #70
@jmgasper The "Send to Topcoder" action (on the Boards page, for example) is using the value that we set here. Any alternative here?

[2020-11-24 20:03] dhruvit-r commented on #59
@jmgasper Seems to be fixed already.

[2020-11-24 20:06] dhruvit-r commented on #77
@jmgasper This was fixed in #52.

[2020-11-24 21:22] #74 closed

[2020-11-24 21:23] jmgasper commented on #74
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151809<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 21:23] jmgasper commented on #58
@dhruvit-r - It should show up after registration, and also in work manager (challenges.topcoder-dev.com)

[2020-11-24 21:31] jmgasper commented on #70
@dhruvit-r - Can we make this configurable?  Where, if the user flips a switch in the setup, they see the menu items and those menu items use the default project?

There will be cases where a client only has a single project, and it makes sense, but for other clients with lots of projects, it may not make sense to have them have this shortcut, since we'd want them to go through the more formal flo

[2020-11-24 21:39] dhruvit-r commented on #70
@jmgasper I don't think dynamically hiding/showing menu items would be possible. From what I've seen so far, they need to be declared upfront in `vss-extension/vss-extension.json` at build-time. I'll do a little more research to see if there's any way around, but I'd be surprised if it was possible.

[2020-11-24 21:50] dhruvit-r commented on #58
@jmgasper This seems to be working fine. The `privateDescription` field is displayed in the returned payload when using an M2M token.

Verification:

1. Create an "Issue" Work Item.
1. Set the Work Item's description and save it.
1. Switch to the "Topcoder X" tab for the Work Item.
1. Wait for the fields' values to load.
1. Ensure that the Private Specification field exists.
1. Populate the remain

[2020-11-24 21:57] #53 closed

[2020-11-24 21:57] jmgasper commented on #53
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151819<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 21:57] #58 closed

[2020-11-24 21:57] jmgasper commented on #58
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151816<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 21:58] #55 closed

[2020-11-24 21:58] jmgasper commented on #55
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151818<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 21:58] #77 closed

[2020-11-24 21:58] jmgasper commented on #77
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151806<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-24 21:59] jmgasper commented on #70
Ok, thanks.  Don't spend too much time on it.

[2020-11-30 19:21] cwdcwd opened #88 "Submissions"
List out submissions (and scores if possible) for a challenge on the Topcoder X details sections

![image](https://user-images.githubusercontent.com/1504607/100654025-3caa7300-3317-11eb-8a4d-3e2524455372.png)

[2020-11-30 23:39] #81 closed

[2020-11-30 23:39] #59 closed

[2020-11-30 23:39] jmgasper commented on #59
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 23:39] jmgasper commented on #81
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151804<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-11-30 23:39] #68 closed

[2020-11-30 23:39] jmgasper commented on #68
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151811<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 01:55] jmgasper commented on #86
Contest https://www.topcoder.com/challenges/30154881 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 01:55] jmgasper commented on #86
Contest https://www.topcoder.com/challenges/30154881 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 01:55] jmgasper commented on #63
Contest https://www.topcoder.com/challenges/30151813 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 01:59] jmgasper opened #89 "[$1500] DLP proof of concept"
This ticket will implement some security scanning features to ensure that no one accidentally shares PHI (Protected Health Information) or PII (Personally identifiable information) in anything in an Azure Devops project. That includes things like work items or code.

Additionally, we want to scan to ensure that work items and code don't contain tokens, credentials, usernames, passwords, or any cus

[2020-12-01 01:59] jmgasper commented on #89
Contest https://www.topcoder.com/challenges/30154882 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 01:59] jmgasper commented on #89
Contest https://www.topcoder.com/challenges/30154882 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 07:32] dhruvit-r commented on #89
@jmgasper Can we go for for GCP's DLP API? A large part of what we require is already supported.

[Docs](https://cloud.google.com/dlp/docs)
[Supported Data Types](https://cloud.google.com/dlp/docs/infotypes-reference)
[Pricing](https://cloud.google.com/dlp/pricing)

[GCP Support Matrix.xlsx](https://github.com/topcoder-platform/tcx-azure-devops-ext/files/5620906/GCP.Support.Matrix.xlsx)

[2020-12-01 16:19] cwdcwd commented on #89
Sending data from out of Azure into GCP seems like it could be considered a 100% data leak, by design. The idea here is to not allow the customer's data out of their “domain”, so to speak. Thus we would want to have the DLP services all run inside their azure account and not cross that boundary line

[2020-12-01 16:35] cwdcwd commented on #89
Azure seems to have things like [this](https://docs.microsoft.com/en-us/azure/information-protection/what-is-information-protection) that might be applicable

[2020-12-01 17:52] dhruvit-r commented on #62
@jmgasper Done in #90. The `State` column is hidden for `New`, `Draft` and `Completed` tabs.

[2020-12-01 18:02] dhruvit-r commented on #65
@jmgasper This is fixed already.

[2020-12-01 18:04] dhruvit-r commented on #72
@jmgasper This was fixed in #87.

[2020-12-01 18:16] dhruvit-r commented on #57
@jmgasper 👆

[2020-12-01 22:23] #65 closed

[2020-12-01 22:24] jmgasper commented on #65
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:24] #72 closed

[2020-12-01 22:24] #57 closed

[2020-12-01 22:24] jmgasper commented on #57
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:24] jmgasper commented on #72
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151810<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:24] #62 closed

[2020-12-01 22:24] jmgasper commented on #62
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151814<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:30] jmgasper commented on #88
Contest https://www.topcoder.com/challenges/30155216 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-01 22:30] jmgasper commented on #88
Contest https://www.topcoder.com/challenges/30155216 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-02 03:01] afrisalyp commented on #63
@jmgasper

Can you please take a look and clarify this ticket?

Seems the expected behavior is not represent the title.

[2020-12-02 06:32] jmgasper commented on #63
@afrisalyp - Sorry, ignore this one.

[2020-12-02 06:32] #63 closed

[2020-12-02 06:32] jmgasper commented on #63
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-02 13:07] afrisalyp commented on #86
@cwdcwd @jmgasper

Can you please let me know where we can find that UI?

[2020-12-02 13:19] afrisalyp commented on #88
@cwdcwd @jmgasper

Can you please let me know where we can find the Topcoder API v5 documentation? Especially for the submission API

[2020-12-02 18:23] dhruvit-r commented on #89
@cwdcwd @jmgasper The AIP system (mentioned above) seems to be very tightly integrated into other MS products (O365, etc.), and consuming using a custom system doesn't seem to be possible. Let me know your thoughts on these solutions (The second one seems promising):

1. [Microsoft Presidio](https://github.com/microsoft/presidio).
    [Supported Field Types](https://github.com/microsoft/presidio/b

[2020-12-02 19:51] dhruvit-r commented on #70
@jmgasper Done in #91.

[2020-12-02 19:52] dhruvit-r commented on #76
@jmgasper Fixed in #91.

[2020-12-02 19:53] dhruvit-r commented on #79
@jmgasper Implemented as per requirements of #70.

[2020-12-02 20:01] dhruvit-r commented on #83
@jmgasper I'm not sure what to work on here. Tables are generally made responsive using scrollbars (which seems to be implemented already). Do you have anything specific in mind?

[2020-12-02 20:57] cwdcwd commented on #89
@dhruvit-r These seem very promising. Nice find!
here's my thinking on how it could work:

- we have the DLP solution as a serverless func
- we wire a Azure project to the DLP via webhook
- the solution flips a custom field on work items as the work item being "clean" or not
- the only change to the ADO Ext is that it will now respect that "clean" flag and not send to topcoder if it's set

In this

[2020-12-02 21:10] jmgasper commented on #86
@afrisalyp - The screenshot given is from a different dashboard widget (not one of ours) - we just want to replicate the same UI for our own widgets.

[2020-12-02 21:14] jmgasper commented on #88
@afrisalyp - https://github.com/topcoder-platform/submissions-api. There should be Swagger and Postman stuff in the `docs` folder.

If you want to see how those APIs are used:

https://github.com/topcoder-platform/submission-review-ui

Deployed at:

https://submission-review.topcoder-dev.com

Login with `TonyJ` / `appirio123`

[2020-12-02 21:14] #70 closed

[2020-12-02 21:14] jmgasper commented on #70
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151820<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-02 21:16] #76 closed

[2020-12-02 21:16] jmgasper commented on #76
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151807<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-02 21:17] #79 closed

[2020-12-02 21:17] jmgasper commented on #79
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151805<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-02 21:17] jmgasper commented on #83
@dhruvit-r - Can we shrink the columns dynamically as the window resizes?  Down to a minimum size and *then* show the scrollbars?

[2020-12-02 22:32] cwdcwd opened #92 "[$100] Make prize field not required"
Make prize field not required. Ideally this could be a config flag that shows/hides prizes section entirely. If that's not possible than just a flag to make it not required will suffice

[2020-12-02 22:33] jmgasper commented on #92
@cwdcwd - Is this when sending to Topcoder?  I don't think the challenge API will like that.

[2020-12-02 22:46] cwdcwd opened #93 "[$150] Add a "DLP Cleared" flag"
Add a `DLP Cleared` flag field to work items that indicates if an item has been DLP scanned. Values should be
- unscanned
- no issues
- issues found
- override

This should apply to each section of scanning - title, details, description, etc...

@dhruvit-r - When you get a chance, we need to test why this isn't showing on the item itself.   I see the scan complete:

https://tcx-ado-dlp-function.az

[2020-12-03 00:09] afrisalyp commented on #88
@jmgasper

There is no way to submit from the extension, so we'll need to put submissions directly from the submission API to verify this ticket.

Do you confirm that?

[2020-12-03 03:21] dhruvit-r commented on #89
@cwdcwd @jmgasper Thanks. The approach outlined above sounds good. I have a few questions though:
1. We'll probably need to connect the Serverless function with a DB. You can find the list of DB services Azure offers [here](https://azure.microsoft.com/en-us/product-categories/databases/). I'd recommend Redis or Cosmos, but let me know your preference.
2. Do we need to create a separate repo for th

[2020-12-03 06:29] afrisalyp commented on #86
@jmgasper

![Screenshot 2020-12-03 13:21:42](https://user-images.githubusercontent.com/8887344/100972331-33b1df80-356b-11eb-8b63-f9dd813f047e.png)

The possible way that we can do is to make it selectable like that.
So we need to predefine the supported sizes.

[2020-12-03 09:05] jmgasper commented on #88
@afrisalyp - We won't submit from the extension.  We just want to show submissions in the UI so the client is aware if a challenge has a submission or not.

[2020-12-03 09:08] jmgasper commented on #86
@afrisalyp - I'm fine with that.  Any suggestions on possible sizes?

[2020-12-03 10:06] afrisalyp commented on #86
@jmgasper

I would suggest
For the project list widget:
4 x 3
4 x 4
5 x 4
5 x 5

For the report widget:
4 x 2
6 x 3

Is it acceptable?

[2020-12-03 10:07] jmgasper commented on #86
Yep, let's go with that, thanks!

[2020-12-04 00:53] #86 closed

[2020-12-04 00:53] jmgasper commented on #86
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154881<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 02:01] afrisalyp commented on #88
@jmgasper

Yes.
But since we will show submission from newly created challenge, we need a way to submit to the challenge for testing purposes.
We can't submit it from the challenge page since the status is `Draft`. Any idea on that?

And Btw, I'm able to get submissions from the API with the challenge id I got from the submission review app.
But if I use the challenge id generated from the extensi

[2020-12-04 03:46] jmgasper commented on #88
We'd have to activate the challenge using Work Manager (https://challenges.topcoder-dev.com) and then add a submission

I'll have to log a ticket for the submission API about the error you're seeing.

[2020-12-04 03:51] jmgasper commented on #88
@afrisalyp - Can you also paste the challenge ID here please?  That'll help the submission API copilot, thanks.

[2020-12-04 03:54] afrisalyp commented on #88
Here is the challenge ID.

`f48ee070-9afd-4876-bf7b-53e9594d2d7f`

Thanks.

[2020-12-04 17:48] cwdcwd commented on #89
1. CosmosDB seems appropriate.
2. yes. I'll create a new repo for the solution.

[2020-12-04 18:23] cwdcwd commented on #89
[new repo](https://github.com/topcoder-platform/tcx-azure-devops-dlp)

[2020-12-04 18:27] cwdcwd commented on #88
here's the [swagger docs](http://tc-submission-api-prod.herokuapp.com/docs/) for the submission API

[2020-12-04 20:08] jmgasper commented on #88
@afrisalyp - The copilot for the submission API seemed to think that the error was caused by the challenge not being activated or not having a "legacyID" associated with it.  That's really no excuse for having a terrible error message, but that's something we can investigate more fully - maybe we don't show the submissions at all if the challenge isn't active?

[2020-12-04 20:09] jmgasper commented on #88
I've bumped the payment for the extra work / investigation

[2020-12-04 22:34] jmgasper commented on #75
Contest https://www.topcoder.com/challenges/30151808 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 22:34] jmgasper commented on #75
@afrisalyp - Can you take a look at this one please?

[2020-12-04 22:35] jmgasper commented on #83
Contest https://www.topcoder.com/challenges/30151803 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-04 22:35] jmgasper commented on #83
@afrisalyp - Can you take a look at this one please?

[2020-12-05 02:38] afrisalyp commented on #88
@jmgasper

Tried to activate a challenge from the work manager app but got error message like this.

![Screenshot 2020-12-05 09:27:57](https://user-images.githubusercontent.com/8887344/101231412-a9d65380-36dd-11eb-9499-d1e09ecf950d.png)

Any steps to do to generate legacyId?

[2020-12-05 03:11] afrisalyp commented on #75
@draco-malfoy @jmgasper

The video link is broken. Can you please share it again?

[2020-12-05 20:15] jmgasper commented on #88
@afrisalyp - Are you still getting that error?  It should be able to be activated after a couple minutes.

@rootelement :point_up: Is the legacy processor working in dev?

[2020-12-05 20:18] jmgasper commented on #75
@afrisalyp : [2020-11-13 16-51-47.zip](https://github.com/topcoder-platform/tcx-azure-devops-ext/files/5647805/2020-11-13.16-51-47.zip)

[2020-12-05 20:37] jmgasper commented on #92
Contest https://www.topcoder.com/challenges/30156058 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-05 20:37] jmgasper commented on #92
@afrisalyp - We tested and we can create a challenge without a prize.  Sample request:

[code]

[2020-12-05 23:00] afrisalyp commented on #88
@jmgasper

Yes.
Seems no legacy id created for all challenges that we create from the extension.

[2020-12-06 01:10] jmgasper commented on #88
@afrisalyp - We're investigating.  Can you paste any other challenge IDs you have that didn't get processed please?

[2020-12-06 01:15] jmgasper commented on #88
@afrisalyp - So, I got clarification that only challenges that are moved from status `new` to `draft` will generate a legacy ID.  We'll need to make sure we move to `draft` to see the legacy ID.

[2020-12-06 01:17] rootelement commented on #92
FYI you can do that same post body without the discussions node and it won't create a forum. If this is for TCX, we don't want forums for them.

[2020-12-06 01:49] afrisalyp commented on #88
@jmgasper

The challenge is actually in `draft` status.
Here's the challenge id
`a6dc0d9c-0057-4e88-92a1-6ad77c2e5baf`

[2020-12-06 06:48] jmgasper commented on #92
Contest https://www.topcoder.com/challenges/30156058 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-07 01:45] #83 closed

[2020-12-07 01:45] #75 closed

[2020-12-07 01:45] jmgasper commented on #75
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151808<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-07 01:45] jmgasper commented on #83
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30151803<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-07 01:49] #92 closed

[2020-12-07 01:49] jmgasper commented on #92
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156058<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-07 01:50] jmgasper opened #97 "[$40] Private specification shouldn't be required"
@afrisalyp - The private specification field, when sending a work item to Topcoder, shouldn't be required.  Currently, if you don't fill it in, the POST to the challenges API fails, but there's no indication in the extension UI that this field is required.

<img width="497" alt="Screen Shot 2020-12-07 at 12 49 07 pm" src="https://user-images.githubusercontent.com/21790/101300772-cebbf980-388a-11eb

[2020-12-07 01:50] jmgasper commented on #97
Contest https://www.topcoder.com/challenges/30156140 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-08 00:54] #97 closed

[2020-12-08 00:55] jmgasper commented on #97
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156140<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 20:42] cwdcwd opened #99 "[$100] Add a "New Project" button"
add a new project button that creates a new project record via the `/v5/projects` API

[2020-12-09 20:55] cwdcwd opened #100 "private specification field to be optional"
make the private spec field on the TopcoderX from an optional field

[2020-12-09 21:12] jmgasper commented on #100
@cwdcwd - One step ahead of you on this one:

https://github.com/topcoder-platform/tcx-azure-devops-ext/issues/97

[2020-12-09 21:12] #100 closed

[2020-12-09 21:14] jmgasper commented on #99
@cwdcwd - Where should this button be?  On the main screen where the user selects a project, or on the projects tab?

<img width="696" alt="Screen Shot 2020-12-10 at 8 13 33 am" src="https://user-images.githubusercontent.com/21790/101688091-9a7d4e80-3abf-11eb-8b5a-32252e39a81d.png">

<img width="1247" alt="Screen Shot 2020-12-10 at 8 13 53 am" src="https://user-images.githubusercontent.com/21790/1

[2020-12-09 21:15] cwdcwd opened #101 "[$75] Acceptance Criteria field added to spec"
Using the `Agile` work item process, we need to add the "Acceptance Criteria" field to the spec when creating a challenge in the TCX form

[2020-12-09 21:24] jmgasper commented on #101
Contest https://www.topcoder.com/challenges/30156976 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 21:24] jmgasper commented on #101
Contest https://www.topcoder.com/challenges/30156976 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 21:24] jmgasper commented on #101
@afrisalyp - Can you look at this one please?

[2020-12-09 21:44] cwdcwd opened #102 "[$100] Add attachments to challenge"
send documents attached to work item over as challenge attachments

[2020-12-09 21:56] jmgasper commented on #102
Contest https://www.topcoder.com/challenges/30156977 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 21:56] jmgasper commented on #102
Contest https://www.topcoder.com/challenges/30156977 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 21:56] jmgasper commented on #102
@afrisalyp - Can we do this for Topcoder challenges please?

[2020-12-09 21:58] jmgasper commented on #102
@afrisalyp - we have to figure out how we're going to handle this, so I'll re-assign once we do.

[2020-12-09 22:03] jmgasper opened #103 "[$60] Challenge creation flow"
@afrisalyp - We can't *directly* create a challenge with `status:Draft`.  We need to create it as `New`, and then PUT an update to the status to `Draft`.  This is because the legacy challenge processor won't pick it up and process it otherwise.  🤷

Can this be done as part of the challenge creation flow please?

<img width="692" alt="Screen_Shot_2020-12-10_at_9_00_14_am" src="https://user-images.g

[2020-12-09 22:03] jmgasper commented on #103
Contest https://www.topcoder.com/challenges/30156978 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-09 22:03] jmgasper commented on #103
Contest https://www.topcoder.com/challenges/30156978 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-10 04:31] afrisalyp commented on #101
@jmgasper

Does it mean we will add the "Acceptance Criteria" text field into the form?

![Screenshot from 2020-12-10 11-30-22](https://user-images.githubusercontent.com/8887344/101721697-251f7700-3adb-11eb-935d-8837fe62f074.png)

[2020-12-10 06:48] #103 closed

[2020-12-10 06:48] jmgasper commented on #103
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156978<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-10 22:08] cwdcwd commented on #102
I think the tact to take here is that we [upload to filestack](https://www.filestack.com/docs/uploads/uploading/) directly and can then post the returned URLs to the `v5/challenges/{id}/attachments` API

[2020-12-10 23:35] jmgasper commented on #102
@afrisalyp - we should be able to add a new config value for the Filestack API key and implement the upload that way.

We did that recently as well in the new forums plugin, if you want to have a look:

https://github.com/topcoder-platform/forums-filestack-plugin

[2020-12-11 03:13] afrisalyp commented on #102
@jmgasper @cwdcwd

As per my understanding, we will get attachments from work items then upload them into Filestack. The returned URLs will be sent to `v5/challenges/{id}/attachments`.

So we won't implement file picker to make users able to pick file.

Can you please confirm that?

[2020-12-11 03:34] jmgasper commented on #102
@afrisalyp - Confirmed.

[2020-12-11 19:41] cwdcwd commented on #101
![image](https://user-images.githubusercontent.com/1504607/101947781-00043480-3bbf-11eb-92aa-189ba0f1b4b5.png)

[2020-12-11 19:43] cwdcwd commented on #101
yes @afrisalyp
Take the Description, like we currently do, and then add "Acceptance Criteria" as a title and then contents of that "Acceptance Criteria" field

[2020-12-11 21:41] dhruvit-r commented on #89
@jmgasper @cwdcwd Could you please help initialise the repo (committing an empty file will do)?

[2020-12-13 00:07] jmgasper commented on #101
@afrisalyp - Any update on this one?  Does it make sense?

[2020-12-13 00:46] jmgasper commented on #102
@afrisalyp - Saw an issue when testing this:

<img width="1476" alt="Screen Shot 2020-12-13 at 11 45 04 am" src="https://user-images.githubusercontent.com/21790/102000180-d1aa6480-3d38-11eb-9b5c-2a7da11965ca.png">

<img width="1476" alt="Screen Shot 2020-12-13 at 11 46 36 am" src="https://user-images.githubusercontent.com/21790/102000183-dcfd9000-3d38-11eb-8a58-8d29520664ea.png">

[2020-12-13 01:46] afrisalyp commented on #102
@jmgasper

Can I see response data from `POST https://www.filestackapi.com/api/store/S3`?

[2020-12-13 01:57] afrisalyp commented on #101
@jmgasper

Yes. It makes sense.
So we will fill `description` param in `POST /v5/challenges` with `Description` and `Acceptance Criteria` from the work item.

Is it correct?

[2020-12-13 02:02] jmgasper commented on #101
@afrisalyp - Yep!

[2020-12-13 02:14] jmgasper commented on #102
@afrisalyp - I think this has to do with configuration properties not being available at runtime.  I have the value for Filestack API key set on Github so it's available during the build, but they wouldn't be available after the plugin has been published, correct?

<img width="1476" alt="Screen Shot 2020-12-13 at 1 14 21 pm" src="https://user-images.githubusercontent.com/21790/102001334-205dfb80-3

[2020-12-13 02:31] afrisalyp commented on #102
Seems yes.

`REACT_APP_FILESTACK_API_KEY` in https://github.com/topcoder-platform/tcx-azure-devops-ext/blob/develop/src/config.js#L112 should be configured with the filestack API key.

[2020-12-13 02:55] jmgasper commented on #102
@afrisalyp - OK, how do we do that as part of the build?

[2020-12-13 04:19] afrisalyp commented on #102
@jmgasper

Did you put configuration `REACT_APP_FILESTACK_API_KEY` instead of `FILESTACK_API_KEY`?

[2020-12-13 04:21] jmgasper commented on #102
@afrisalyp - No, is that what it should be?

[2020-12-13 04:23] afrisalyp commented on #102
Yes. It should be `REACT_APP_FILESTACK_API_KEY`.

[2020-12-13 05:18] jmgasper commented on #102
@afrisalyp - I did that, redeployed, and it didn't seem to help.

[2020-12-13 05:40] afrisalyp commented on #102
@jmgasper

Can you put your API key in the line
https://github.com/topcoder-platform/tcx-azure-devops-ext/blob/develop/src/config.js#L112

[code]

And let see if it works?

[2020-12-14 06:35] jmgasper commented on #102
Works

[2020-12-14 06:35] #102 closed

[2020-12-14 06:35] jmgasper commented on #102
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156977<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 06:38] jmgasper commented on #99
@cwdcwd ☝️

[2020-12-14 06:44] #101 closed

[2020-12-14 06:45] jmgasper commented on #101
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156976<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 06:50] jmgasper commented on #89
@dhruvit-r - Sorry, I missed this.  Done.

[2020-12-14 06:56] dhruvit-r commented on #89
@jmgasper No problem, thanks. I'll need your help with one more thing - I'm seeing this when trying to push. Maybe some sort of access issue?

<img width="717" alt="Screenshot 2020-12-14 at 12 25 05 PM" src="https://user-images.githubusercontent.com/5932865/102049706-67142a00-3e07-11eb-9323-23e3299804f2.png">

[2020-12-14 10:38] jmgasper commented on #89
@dhruvit-r - Should be fixed.  Please try now.

[2020-12-14 10:53] dhruvit-r commented on #89
@jmgasper Please merge https://github.com/topcoder-platform/tcx-azure-devops-dlp/pull/1 and #105. Then, we need an instance of Presidio, an instance of CosmosDB (Mongo) an instance of Azure Functions App with this function deployed to the Functions app. Then, we need to configure the Azure Function's env vars (use the App Settings panel of the Azure Functions UI). See the `sample.env` file to see

[2020-12-14 21:33] cwdcwd opened #109 "[$75] Challenge listing should show only challenges associated to the user"
challenges should only show challenges that are associated to the user. This can be done by calling to the v5 users API with the userId of the current user (found in the JWT token) like so:

`/v5/challenges/?memberId={memberId}`

[2020-12-14 23:43] jmgasper commented on #109
Contest https://www.topcoder.com/challenges/30158026 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 23:43] jmgasper commented on #109
Contest https://www.topcoder.com/challenges/30158026 has been updated - it has been assigned to afrisalyp.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-14 23:43] jmgasper commented on #109
@afrisalyp - Can you take a look at this one and test it please?

[2020-12-15 05:16] afrisalyp commented on #109
@jmgasper @cwdcwd

At the first testing, I got the member id from the decoded token from `https://topcoder-dev-test.com/userId` key.

![Screenshot 2020-12-15 12:04:16](https://user-images.githubusercontent.com/8887344/102173720-3d720600-3ece-11eb-91b6-f7bcca1cc819.png)

But now, after trying to refresh the token I don't get the data anymore.

![Screenshot 2020-12-15 12:05:07](https://user-images.g

[2020-12-15 05:17] jmgasper commented on #109
@cwdcwd / @rootelement ☝️ This seems weird. Should I loop in Sachin?

[2020-12-19 01:56] jmgasper opened #110 "[$200] Bash script for deploying DLP platform"
@dhruvit-r - As discussed, let's do the bash / batch script, thanks.  If my estimation is way too low, just let me know that too ;)

[2020-12-19 01:56] jmgasper commented on #110
Contest https://www.topcoder.com/challenges/30159282 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-19 01:56] jmgasper commented on #110
Contest https://www.topcoder.com/challenges/30159282 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-24 10:50] dhruvit-r commented on #110
@jmgasper Added in https://github.com/topcoder-platform/tcx-azure-devops-dlp/pull/2.

1. The script has a few dependencies (mentioned in the README, so be sure to set it up).
2. As is often the case with bash scripts, it doesn't have exceptional error handling. I'd recommend using it as reference and then running the commands step by step manually in bash. Ideally, everything will work fine. But i

[2020-12-27 04:44] jmgasper commented on #89
@dhruvit-r - Closing this so it's paid by the end of the year.  I'll be working at deploying this tomorrow.

[2020-12-27 04:44] #89 closed

[2020-12-27 04:44] jmgasper commented on #89
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30154882<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-12-28 22:10] #110 closed

[2020-12-28 22:10] jmgasper commented on #110
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159282<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 05:21] jmgasper commented on #88
@dhruvit-r - No rush on this one, but if you have some time to take a look at it, I'd appreciate it.

[2021-01-03 05:21] jmgasper commented on #99
@cwdcwd ☝️

[2021-01-03 05:32] jmgasper commented on #88
Contest https://www.topcoder.com/challenges/30155216 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 05:35] jmgasper commented on #93
Contest https://www.topcoder.com/challenges/30161064 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-03 06:18] dhruvit-r commented on #88
@jmgasper
1. Just checked, and legacy ID generation seems to be working fine for me. Let me know if that's not the case for you and I'll look into it.
2. To fetch the score, we'll need to request submissions first, and then fetch the review for each submission. So if there are n submissions, we'll need to make n+1 network requests. Is this approach okay?
3. Do we use the /reviews endpoint or the /

[2021-01-03 06:26] jmgasper commented on #88
1.  Ok, probably been fixed recently
2. Yes, that's fine
3. Let's do the summations endpoint
4. Yep, that'll work, thanks

[2021-01-08 01:09] jmgasper opened #111 "[$60] CORS issue with DLP"
@dhruvit-r - I'm noticing a CORS issue when testing the DLP stuff.  This could be why I wasn't able to see the scan status when testing previously.  Anything we can do here?

<img width="1503" alt="Screen_Shot_2021-01-08_at_12_08_18_pm" src="https://user-images.githubusercontent.com/21790/103962114-3cb95080-51aa-11eb-91cb-c18975201851.png">

[2021-01-08 01:09] jmgasper commented on #111
Contest https://www.topcoder.com/challenges/30161570 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-08 01:09] jmgasper commented on #111
Contest https://www.topcoder.com/challenges/30161570 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-08 01:09] #109 closed

[2021-01-08 01:10] jmgasper commented on #109
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158026<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-08 01:10] #47 closed

[2021-01-08 01:10] jmgasper commented on #47
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30150075<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-08 01:10] jmgasper commented on #88
@dhruvit-r - Any thoughts on this one?

[2021-01-08 01:13] jmgasper opened #112 "[$60] Scanning"
@dhruvit-r - I'm noticing that only the details for work items are getting scanned.  Do we have to change anything to scan the description, title, etc...?

https://prod-tcx-ado-dlp-function.azurewebsites.net/api/dlptrigger?code=%2F9xAlRwWAUbSovqjEWTfYBBnBoRTQcCIl181jKRAJYJVQVZr2AEDqg%3D%3D&project_id=5cc530c8-af92-4d95-849d-94f7a76d62a3&resource_id=17

[2021-01-08 01:13] jmgasper commented on #112
Contest https://www.topcoder.com/challenges/30161571 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-08 01:13] jmgasper commented on #112
Contest https://www.topcoder.com/challenges/30161571 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-08 01:34] dhruvit-r commented on #88
@jmgasper I have been taking digs at this over the past few days. I checked if the Submission Review codebase could be used as a reference. It was using a v4 endpoint, so that wasn't much help. The topcoder-dev site is a mess - I wasn't able to create a submission for any of the challenges (created through extension or Work Manager). Once a user registers for the challenge, the challenge detail pa

[2021-01-08 01:36] jmgasper commented on #88
@dhruvit-r - Ok, thanks for the update.  I'll pass along the concerns as well to the platform team.  @cwdcwd ☝️

[2021-01-12 16:03] cwdcwd opened #114 "[$150] Move DLP config to settings in the ADO UI"
Move the [DLP config](https://github.com/topcoder-platform/tcx-azure-devops-ext/blob/develop/src/config.js#L113) to a settings section of the Ext.
In addition to that add:
- a flag to toggle whether the ext should block challenge creation if a work item is not scanned and clear
- a flag to toggle DLP for work items
- a flag to toggle DLP for code (TBD on how this works)

[2021-01-12 20:22] jmgasper commented on #114
Contest https://www.topcoder.com/challenges/30162148 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-12 20:22] jmgasper commented on #114
Contest https://www.topcoder.com/challenges/30162148 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-12 20:26] dhruvit-r commented on #111
@jmgasper Is this sorted out?

[2021-01-12 20:41] jmgasper commented on #111
@dhruvit-r - Yep, sorry.

[2021-01-12 20:41] #111 closed

[2021-01-12 20:41] jmgasper commented on #111
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161570<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-12 21:25] cwdcwd commented on #88
@dhruvit-r the legacy processor on dev might be down and thus not backfilling OR. However, you don't really need to create a review in OR. You can just post directly to the v5 Reviews endpoint to create a score there.

[2021-01-19 21:30] jmgasper commented on #93
Contest https://www.topcoder.com/challenges/30161064 has been updated - it has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-21 16:33] dhruvit-r commented on #112
@jmgasper Done in https://github.com/topcoder-platform/tcx-azure-devops-dlp/pull/3.

[2021-01-21 19:17] dhruvit-r commented on #93
@jmgasper Done in https://github.com/topcoder-platform/tcx-azure-devops-dlp/pull/4 and https://github.com/topcoder-platform/tcx-azure-devops-ext/pull/115.

<img width="1729" alt="Screenshot 2021-01-22 at 12 47 17 AM" src="https://user-images.githubusercontent.com/5932865/105400788-68791380-5c4b-11eb-8388-c38455e1743b.png">

[2021-01-22 00:36] jmgasper opened #116 "[$1] Test"
Test

[2021-01-22 00:40] jmgasper commented on #116
[400]: Failed to create challenge. Detail: Project with id: 27434 doesn't exist<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 00:40] jmgasper commented on #116
[400]: Failed to create challenge. Detail: Project with id: 27434 doesn't exist<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 18:49] jmgasper commented on #114
@dhruvit-r - Can we get this one done today, if possible?  Thanks!

[2021-01-22 18:53] jmgasper commented on #116
Payment failed: [400]: Failed to create challenge. Detail: Project with id: 27434 doesn't exist<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 18:53] jmgasper commented on #116
Payment failed: [400]: Failed to create challenge. Detail: Project with id: 27434 doesn't exist<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 20:56] dhruvit-r commented on #114
@jmgasper Sure, I have the UI ready already. Just need to hook up the logic with the existing functionality. Will get it done today.

[2021-01-22 23:23] jmgasper commented on #112
Challenge https://www.topcoder.com/challenges/af0b24a6-8afb-4501-81bd-abe1f6c660e8 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 23:23] jmgasper commented on #112
Challenge https://www.topcoder.com/challenges/af0b24a6-8afb-4501-81bd-abe1f6c660e8 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 23:23] jmgasper commented on #112
Payment task has been updated: https://www.topcoder.com/challenges/af0b24a6-8afb-4501-81bd-abe1f6c660e8
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `af0b24a6-8afb-4501-81bd-abe1f6c660e8` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-22 23:25] jmgasper commented on #112
Challenge https://www.topcoder.com/challenges/af0b24a6-8afb-4501-81bd-abe1f6c660e8 dhruvit_r has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:55] jmgasper commented on #93
Challenge https://www.topcoder.com/challenges/f2df15fb-6662-481b-9137-3ecea9107124 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:56] jmgasper commented on #93
Challenge https://www.topcoder.com/challenges/f2df15fb-6662-481b-9137-3ecea9107124 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:56] #116 closed

[2021-01-23 00:57] jmgasper commented on #112
Challenge https://www.topcoder.com/challenges/d64f789d-466f-4820-88bc-c47dbd808032 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:57] jmgasper commented on #112
Challenge https://www.topcoder.com/challenges/d64f789d-466f-4820-88bc-c47dbd808032 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:57] #112 closed

[2021-01-23 00:57] jmgasper commented on #112
Payment task has been updated: https://www.topcoder.com/challenges/d64f789d-466f-4820-88bc-c47dbd808032
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `d64f789d-466f-4820-88bc-c47dbd808032` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:58] jmgasper commented on #93
Challenge https://www.topcoder.com/challenges/f2df15fb-6662-481b-9137-3ecea9107124 dhruvit_r has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:58] jmgasper commented on #93
Challenge https://www.topcoder.com/challenges/9d756f41-c76e-4d1e-a489-3fd73b769f38 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:58] jmgasper commented on #93
Challenge https://www.topcoder.com/challenges/9d756f41-c76e-4d1e-a489-3fd73b769f38 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:58] #40 closed

[2021-01-23 00:58] #93 closed

[2021-01-23 00:58] jmgasper commented on #116
Challenge https://www.topcoder.com/challenges/95b5fe12-af44-47dc-b4a5-aa2b033d0ff4 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:58] jmgasper commented on #116
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:58] jmgasper commented on #93
Payment task has been updated: https://www.topcoder.com/challenges/9d756f41-c76e-4d1e-a489-3fd73b769f38
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `9d756f41-c76e-4d1e-a489-3fd73b769f38` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 00:59] jmgasper commented on #112
Challenge https://www.topcoder.com/challenges/d64f789d-466f-4820-88bc-c47dbd808032 dhruvit_r has been unassigned.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 01:00] jmgasper opened #117 "[$75] Apply DLP Cleared flag"
@dhruvit-r - When sending to Topcoder, either via the context menu, or the `Topcoder X` tab on a work item, we need to ensure that we do *not* send the data to Topcoder *unless* the DLP Cleared flag is `No Issues`.  If there is an issue, we need to show a modal warning to the user that says something like `DLP scanning failed.  Please fix the issue and try again`.

[2021-01-23 01:00] jmgasper commented on #117
Challenge https://www.topcoder.com/challenges/8df882ff-8f3b-4b98-a048-ce192ee6695b has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 01:00] jmgasper commented on #117
Challenge https://www.topcoder.com/challenges/8df882ff-8f3b-4b98-a048-ce192ee6695b has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 01:24] cwdcwd commented on #99
Sorry. I think the latter, on the projects tab

[2021-01-23 01:29] jmgasper commented on #99
Challenge https://www.topcoder.com/challenges/e51748ec-51b4-446d-b4bc-4a9d1c10bf9f has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 01:29] jmgasper commented on #99
Challenge https://www.topcoder.com/challenges/e51748ec-51b4-446d-b4bc-4a9d1c10bf9f has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-23 11:53] dhruvit-r commented on #117
@jmgasper Done in #118.

[2021-01-23 11:53] dhruvit-r commented on #114
@jmgasper Done in #118.

[2021-01-23 18:43] dhruvit-r commented on #99
@jmgasper Done in #119.

[2021-01-24 03:29] jmgasper commented on #114
@dhruvit-r - With these changes, do we still need to manually set up the web hooks?  Or will that be separate?

[2021-01-24 04:36] dhruvit-r commented on #114
@jmgasper That part is manual at the moment.

[2021-01-25 05:42] jmgasper commented on #99
Payment task has been updated: https://www.topcoder.com/challenges/e51748ec-51b4-446d-b4bc-4a9d1c10bf9f
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `e51748ec-51b4-446d-b4bc-4a9d1c10bf9f` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-25 05:46] jmgasper commented on #99
Challenge https://www.topcoder.com/challenges/5cc57fff-77aa-4754-a6c1-88e199d91ac6 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-25 05:47] jmgasper commented on #99
Challenge https://www.topcoder.com/challenges/5cc57fff-77aa-4754-a6c1-88e199d91ac6 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 02:43] jmgasper opened #120 "[$1] Test"
Test

[2021-01-26 02:43] jmgasper commented on #120
Challenge https://www.topcoder.com/challenges/2a3a19a5-f8d9-4148-9359-b38d59ed11aa has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 02:43] jmgasper commented on #120
Challenge https://www.topcoder.com/challenges/2a3a19a5-f8d9-4148-9359-b38d59ed11aa has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 02:44] #120 closed

[2021-01-26 02:44] jmgasper commented on #120
Payment task has been updated: https://www.topcoder.com/challenges/2a3a19a5-f8d9-4148-9359-b38d59ed11aa
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `2a3a19a5-f8d9-4148-9359-b38d59ed11aa` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 09:19] jmgasper commented on #114
@dhruvit-r - I'm having trouble validating this.

I put in the config the way I *think* it should be:

* https://prod-tcx-ado-dlp-function.azurewebsites.net/api/dlptrigger
* /9xAlRwWAUbSovqjEWTfYBBnBoRTQcCIl181jKRAJYJVQVZr2AEDqg==

For reference, the web hook URL is:  https://prod-tcx-ado-dlp-function.azurewebsites.net/api/dlptrigger?code=/9xAlRwWAUbSovqjEWTfYBBnBoRTQcCIl181jKRAJYJVQVZr2AEDqg==

B

[2021-01-26 09:24] jmgasper opened #121 "[$300] Auto-add webhooks"
@dhruvit-r - For the checkboxes in the plugin for DLP, can we add and remove the web hooks automatically for the user?  What I'm thinking is:

1. We won't allow the user to check / uncheck these until the URL and code field are filled in
2. We need to validate the web hook as they are enabled to make sure the URL and code are appropriately configured
3. If the validation passes, we will add the we

[2021-01-26 09:24] jmgasper commented on #121
Challenge https://www.topcoder.com/challenges/5a610147-6610-401a-89d4-c2cd7e3fe8b4 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 09:24] jmgasper commented on #121
Challenge https://www.topcoder.com/challenges/5a610147-6610-401a-89d4-c2cd7e3fe8b4 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 21:59] jmgasper commented on #99
Challenge https://www.topcoder.com/challenges/927cfaa0-ec1d-431e-acbb-690802623f4d has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 21:59] jmgasper commented on #99
Challenge https://www.topcoder.com/challenges/927cfaa0-ec1d-431e-acbb-690802623f4d has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 21:59] #99 closed

[2021-01-26 21:59] jmgasper commented on #99
Payment task has been updated: https://www.topcoder.com/challenges/927cfaa0-ec1d-431e-acbb-690802623f4d
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `927cfaa0-ec1d-431e-acbb-690802623f4d` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:00] jmgasper commented on #117
Challenge https://www.topcoder.com/challenges/bd96af8a-9434-46a3-9c1f-6a70d0530140 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:00] jmgasper commented on #117
Challenge https://www.topcoder.com/challenges/bd96af8a-9434-46a3-9c1f-6a70d0530140 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-26 22:01] #117 closed

[2021-01-26 22:01] jmgasper commented on #117
Payment task has been updated: https://www.topcoder.com/challenges/bd96af8a-9434-46a3-9c1f-6a70d0530140
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `bd96af8a-9434-46a3-9c1f-6a70d0530140` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-28 17:03] dhruvit-r commented on #114
@jmgasper I can't see the error in the screenshot, but this _should_ be fixed by #122.

[2021-01-29 05:50] jmgasper commented on #114
Challenge https://www.topcoder.com/challenges/5ecfaad1-c24c-4ea5-9441-57d15adbb19a has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-29 05:50] jmgasper commented on #114
Challenge https://www.topcoder.com/challenges/5ecfaad1-c24c-4ea5-9441-57d15adbb19a has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-01-29 05:50] #114 closed

[2021-01-29 05:51] jmgasper commented on #114
Payment task has been updated: https://www.topcoder.com/challenges/5ecfaad1-c24c-4ea5-9441-57d15adbb19a
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `5ecfaad1-c24c-4ea5-9441-57d15adbb19a` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-02-02 23:02] jmgasper commented on #121
@dhruvit-r - Any update here?

[2021-02-10 02:18] jmgasper commented on #121
@dhruvit-r - Could use an update here, thanks.

[2021-02-11 01:57] dhruvit-r commented on #121
@jmgasper Apologies for the delay. I have 1 and 2 ready (using a handshake endpoint). I’ll have 3 and 4 ready by tomorrow.

[2021-02-11 02:01] jmgasper commented on #121
Sounds good, thanks!

[2021-02-20 01:13] jmgasper commented on #121
@dhruvit-r - Update here?

[2021-02-22 23:49] jmgasper commented on #121
@dhruvit-r - Just checking in here, thanks.

[2021-02-24 11:47] dhruvit-r commented on #121
@jmgasper Done in https://github.com/topcoder-platform/tcx-azure-devops-dlp/pull/5 and https://github.com/topcoder-platform/tcx-azure-devops-ext/pull/124

[2021-02-25 00:31] #121 closed

[2021-02-25 00:31] jmgasper commented on #121
Payment task has been updated: https://www.topcoder.com/challenges/5a610147-6610-401a-89d4-c2cd7e3fe8b4
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `5a610147-6610-401a-89d4-c2cd7e3fe8b4` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 21:46] jmgasper opened #125 "[$150] AWS handshake"
@dhruvit-r - We have re-implemented the DLP stuff on AWS as well (https://github.com/topcoder-platform/tcx-aws-dlp)

It works, but we have a problem:

In the extension UI, we are having a hard time attaching to a new endpoint for the DLP config because CORS seems to be an issue.  The dev is saying this is because the extension is using a HANDSHAKE request not supported by AWS Lambda?  Anything we

[2021-03-16 21:46] jmgasper commented on #125
Challenge https://www.topcoder.com/challenges/d255af7e-592b-4c60-bdde-ec35e90fe0a2 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-16 21:46] jmgasper commented on #125
Challenge https://www.topcoder.com/challenges/d255af7e-592b-4c60-bdde-ec35e90fe0a2 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-18 00:06] jmgasper commented on #125
@dhruvit-r - Strangely, this still isn't working for me.  Everything looks right though - see screenshots below for the generated UUID and the SHA256 response.  Those match, so I'm not sure why the UI isn't letting it be set....

* UUID: e46b8fa8-fbad-4c3f-8b9a-5d473db8b1ef
* SHA256: 3bd7e3436a767b009f1be56981d971370345c2cf5c399a7f985741a2d2751811

<img width="1887" alt="Screen_Shot_2021-03-18_at_

[2021-03-18 23:45] #125 closed

[2021-03-18 23:46] jmgasper commented on #125
Payment task has been updated: https://www.topcoder.com/challenges/d255af7e-592b-4c60-bdde-ec35e90fe0a2
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `d255af7e-592b-4c60-bdde-ec35e90fe0a2` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-18 23:52] jmgasper opened #127 "[$50] Missing DLP status display on issue?"
@dhruvit-r - The DLP stuff is working, and the block when creating a Topcoder challenge is also working, but I'm not seeing the display of the DLP status on the main issue.  We used to have that, so I'm wondering if we removed it on purpose?

<img width="1937" alt="Screen Shot 2021-03-19 at 10 51 51 am" src="https://user-images.githubusercontent.com/21790/111712117-1e09c100-88a1-11eb-926c-0f2a6fe6

[2021-03-18 23:52] jmgasper commented on #127
Challenge https://www.topcoder.com/challenges/7bd91ec7-3218-4cb8-a298-f9576e23b810 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-18 23:52] jmgasper commented on #127
Challenge https://www.topcoder.com/challenges/7bd91ec7-3218-4cb8-a298-f9576e23b810 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-19 21:52] dhruvit-r commented on #127
@jmgasper I'm not able to reproduce this on local. Do you see any relevant errors?

<img width="1736" alt="Screenshot 2021-03-20 at 3 21 39 AM" src="https://user-images.githubusercontent.com/5932865/111845700-67065780-892b-11eb-9c6d-ede6571b345b.png">

[2021-03-22 14:10] cwdcwd commented on #127
![image](https://user-images.githubusercontent.com/1504607/112002789-a503a700-8af6-11eb-8622-c2dc45b0c2b2.png)
I see the call to AWS being successful but it's not showing in the Ext's TCX panel. Was there an update to the Ext perhaps?

[2021-03-22 14:13] dhruvit-r commented on #127
@cwdcwd Could you please check the console to see if there are any errors there?

[2021-03-22 20:18] jmgasper commented on #127
@dhruvit-r - I see the same, and no obvious errors that seem to be causing this.

### Console:
<img width="1853" alt="Screen Shot 2021-03-23 at 7 18 04 am" src="https://user-images.githubusercontent.com/21790/112053003-ee5fff00-8ba7-11eb-9469-b69510c55e31.png">

### DLP trigger call (successful)

<img width="1853" alt="Screen Shot 2021-03-23 at 7 18 10 am" src="https://user-images.githubuserconten

[2021-03-23 04:20] dhruvit-r commented on #127
@jmgasper Seems like the format of the payload that was being sent by Lambda was slightly different. Should be fixed in https://github.com/topcoder-platform/tcx-aws-dlp/pull/3.

[2021-03-23 06:10] jmgasper commented on #127
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:15] jmgasper commented on #127
Challenge https://www.topcoder.com/challenges/6f0904c3-9b0d-49ee-a254-7b9bf078cca9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-23 06:15] #127 closed

[2021-03-23 06:16] jmgasper commented on #127
Payment task has been updated: https://www.topcoder.com/challenges/6f0904c3-9b0d-49ee-a254-7b9bf078cca9
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `6f0904c3-9b0d-49ee-a254-7b9bf078cca9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-25 02:50] cwdcwd opened #128 "[$75] Add work manager to external links section"
Add work manager to external links section and link to the challenge created

[2021-03-30 20:45] jmgasper commented on #128
@dhruvit-r - Can we use `challenges.topcoder-dev.com` for dev and `challenges.topcoder.com` for prod please?

URL should be like `https://challenges.topcoder-dev.com/projects/{project ID}/challenges/{challenge ID}/view`

[2021-03-30 20:45] jmgasper commented on #128
Challenge https://www.topcoder.com/challenges/fd001ae1-ea10-4701-a6a9-7c3218af1421 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-03-31 05:24] dhruvit-r commented on #128
@jmgasper Done.

[2021-03-31 10:03] #128 closed

[2021-03-31 10:03] jmgasper commented on #128
Payment task has been updated: https://www.topcoder.com/challenges/fd001ae1-ea10-4701-a6a9-7c3218af1421
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `fd001ae1-ea10-4701-a6a9-7c3218af1421` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-09 00:46] jmgasper opened #129 "[$450] DLP diagrams"
@dhruvit-r - A request from the client:

Can we diagram the DLP setup please?  Attached are some examples of what they'd like to see.  We've used LucidChart in the past for stuff like this:  https://lucid.app

[BJ0 Prepay Response API - Tech Specs V2 copy.pdf](https://github.com/topcoder-platform/tcx-azure-devops-ext/files/6446779/BJ0.Prepay.Response.API.-.Tech.Specs.V2.copy.pdf)
[Security Camera

[2021-05-09 00:47] jmgasper commented on #129
Challenge https://www.topcoder.com/challenges/2141c036-2ed9-4a79-a11f-350c20d5cac8 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-09 00:47] jmgasper commented on #129
Challenge https://www.topcoder.com/challenges/2141c036-2ed9-4a79-a11f-350c20d5cac8 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-05-16 06:12] dhruvit-r commented on #129
Any feedback on these?

![TCX DLP Architecture - AWS](https://user-images.githubusercontent.com/5932865/118387368-c5099f80-b63b-11eb-8671-c21d143f9069.png)
![TCX DLP Architecture - Azure](https://user-images.githubusercontent.com/5932865/118387369-c8049000-b63b-11eb-909c-b8f83122aba1.png)

[2021-05-16 06:14] dhruvit-r commented on #129
@jmgasper Sharing link for the editable document: https://lucid.app/lucidchart/invitations/accept/inv_ee79ee48-fa46-432e-9d15-624f111e76b3?viewport_loc=199%2C-515%2C1798%2C1019%2C0_0

[2021-05-16 23:45] jmgasper commented on #129
@dhruvit-r - Thanks for that.  I've sent this off for client review.

[2021-05-17 01:12] jmgasper commented on #129
@dhruvit-r - Can you add `cwd@topcoder.com` to the lucid chart please?

[2021-05-17 03:38] dhruvit-r commented on #129
@jmgasper The link should provide access to anyone who opens it. Is it not working?

[2021-05-17 21:47] jmgasper commented on #129
@dhruvit-r - All good now, thanks.  The client is still reviewing, but I'm going to close this out so I don't forget.

[2021-05-17 21:47] #129 closed

[2021-05-17 21:47] jmgasper commented on #129
Payment task has been updated: https://www.topcoder.com/challenges/2141c036-2ed9-4a79-a11f-350c20d5cac8
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `2141c036-2ed9-4a79-a11f-350c20d5cac8` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-16 20:41] jmgasper opened #130 "[$200] Self-signed cert as part of deployment"
@dhruvit-r - For the DLP stuff, the client had a security request:

Basically, all HTTP communication between the individual pieces must be HTTPS.  A minimum AES 256 bit key.

[2021-06-16 20:41] jmgasper commented on #130
Challenge https://www.topcoder.com/challenges/83e5a40a-325c-404c-9e96-9ff39a3afcb2 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-16 20:41] jmgasper commented on #130
Challenge https://www.topcoder.com/challenges/83e5a40a-325c-404c-9e96-9ff39a3afcb2 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-16 21:23] dhruvit-r commented on #130
@jmgasper I looked into this a bit. Here’s the approach I suggest, let me know if this is alright.
Upgrade from Presidio v1 to Presidio v2, because v2 has a simplified architecture (no. of apps running in K8s goes down from 3 to 1). This allows me to quickly create a custom Helm chart instead of relying on the one provided by Presidio. The custom chart will include the TLS config as well. Modifyin

[2021-06-17 00:03] jmgasper commented on #130
@cwdcwd - Will this work?

[2021-06-17 00:43] dhruvit-r commented on #130
@jmgasper Done in [here](https://github.com/topcoder-platform/tcx-azure-devops-dlp/pull/7).

To migrate:
1. Uninstall existing installation of presidio and redis (Use the proper release name and namespace from the first command)
[code]
2. Install the updated helm chart (use proper value for $AKS_CLUSTER_NAME)
[code]
3. Fetch the new IP address
[code]
4. Update the Presidio Endpoint config for the

[2021-06-17 19:30] jmgasper opened #131 "[$150] Port self-signed cert changes over to AWS DLP as well"
@dhruvit-r - We need to cover the AWS DLP stuff as well, thanks!

https://github.com/topcoder-platform/tcx-aws-dlp

[2021-06-17 19:31] jmgasper commented on #131
Challenge https://www.topcoder.com/challenges/24cd1ee2-ec49-4345-9eab-104bf0d6f2a9 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-17 19:31] jmgasper commented on #131
Challenge https://www.topcoder.com/challenges/24cd1ee2-ec49-4345-9eab-104bf0d6f2a9 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-20 08:46] jmgasper commented on #131
@dhruvit-r - How's this one coming?

[2021-06-20 08:46] #130 closed

[2021-06-20 08:46] jmgasper commented on #130
Payment task has been updated: https://www.topcoder.com/challenges/83e5a40a-325c-404c-9e96-9ff39a3afcb2
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `83e5a40a-325c-404c-9e96-9ff39a3afcb2` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-06-21 23:41] dhruvit-r commented on #131
@jmgasper Done in https://github.com/topcoder-platform/tcx-aws-dlp/pull/4.

[2021-06-21 23:51] dhruvit-r commented on #131
@jmgasper Small correction here: https://github.com/topcoder-platform/tcx-aws-dlp/pull/5.

[2021-06-22 12:46] dhruvit-r commented on #131
@jmgasper To push the changes, merge https://github.com/topcoder-platform/tcx-aws-dlp/pull/6, and then run:

[code]

[2021-06-22 22:48] #131 closed

[2021-06-22 22:49] jmgasper commented on #131
Payment task has been updated: https://www.topcoder.com/challenges/24cd1ee2-ec49-4345-9eab-104bf0d6f2a9
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `24cd1ee2-ec49-4345-9eab-104bf0d6f2a9` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-07-04 23:33] jmgasper opened #132 "[$75] AWS DLP deployment support"
As discussed in Slack.

[2021-07-04 23:33] jmgasper commented on #132
Challenge https://www.topcoder.com/challenges/c4c1297a-25f3-49aa-810c-d1937eb2938e has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-07-04 23:33] jmgasper commented on #132
Challenge https://www.topcoder.com/challenges/c4c1297a-25f3-49aa-810c-d1937eb2938e has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-07-04 23:34] #132 closed

[2021-07-04 23:34] jmgasper commented on #132
Payment task has been updated: https://www.topcoder.com/challenges/c4c1297a-25f3-49aa-810c-d1937eb2938e
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `c4c1297a-25f3-49aa-810c-d1937eb2938e` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-08-17 21:12] jmgasper opened #133 "[$600] Kubernetes tweak (AWS)"
@dhruvit-r - Some requested tweaks from the client:

 “The following article is a very good example of what we need from Topcoder with the Kubernetes sidecar:
https://www.mirantis.com/blog/multi-container-pods-and-container-communication-in-kubernetes/

Each pod will have both a presidio and NGinx container. Traffic from the NGninx container will hit the presidio container on localhost. The Nginx

[2021-08-17 21:13] jmgasper commented on #133
Challenge https://www.topcoder.com/challenges/574a2e61-dd60-499b-af54-64d5efdc9175 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-08-17 21:13] jmgasper commented on #133
Challenge https://www.topcoder.com/challenges/574a2e61-dd60-499b-af54-64d5efdc9175 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-08-18 14:19] dhruvit-r commented on #133
@jmgasper Done in https://github.com/topcoder-platform/tcx-aws-dlp/pull/8. To test deployment, deleting the cluster and

To validate,

1. Ensure that the correct K8s context is selected (I removed the AWS cluster before I began typing this comment which is why the AWS context isn't a part of the menu, just ignore that).

    <img width="442" alt="Screenshot 2021-08-18 at 7 18 20 PM" src="https://u

[2021-08-19 03:51] #133 closed

[2021-08-19 03:51] jmgasper commented on #133
Payment task has been updated: https://www.topcoder.com/challenges/574a2e61-dd60-499b-af54-64d5efdc9175
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `574a2e61-dd60-499b-af54-64d5efdc9175` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-08-19 03:52] jmgasper opened #134 "[$400] Kubernetes tweak (Azure)"
@dhruvit-r - Kubernetes tweak (#133 ) was deployed alright on AWS, after I migrated to a different region.  We need to apply the same now to the Azure implementation

[2021-08-19 03:52] jmgasper commented on #134
Challenge https://www.topcoder.com/challenges/bb9c4b74-7405-4224-9eef-06dd8b46bd43 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-08-19 03:52] jmgasper commented on #134
Challenge https://www.topcoder.com/challenges/bb9c4b74-7405-4224-9eef-06dd8b46bd43 has been assigned to dhruvit_r.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2021-08-20 00:58] dhruvit-r commented on #134
@jmgasper Fixed in https://github.com/topcoder-platform/tcx-azure-devops-dlp/pull/8.

[2021-08-20 01:00] #134 closed

[2021-08-20 01:00] jmgasper commented on #134
Payment task has been updated: https://www.topcoder.com/challenges/bb9c4b74-7405-4224-9eef-06dd8b46bd43
*Payments Complete*
Winner: dhruvit_r
Copilot: ghostar
Challenge `bb9c4b74-7405-4224-9eef-06dd8b46bd43` has been paid and closed.<br/><br/>```This is an automated message for ghostar via Topcoder X```